# Examen Pandas - Unidad 1

### Data Science The Bridge - 2020

Primero de todo, importa la que seguro es ya tu librería favorita y que vas a necesitar, seguro, para realizar este examen.

In [1028]:
# no borres esto y ejecútalo junto con tu librería favorita
import warnings
warnings.simplefilter(action='ignore')

# aquí tu librería favorita

In [1029]:
import pandas as pd

Para trabajar con **pandas** lo primero que necesitarás, son datos, en la vida real deberías entrar en este enlace de **kaggle** y descargar el dataset: https://www.kaggle.com/neuromusic/avocado-prices. Con el fin de poder leer el `.csv` sin problema, habría que copiarlo en la misma carpeta donde se encuentra este archivo `.ipynb`. 

Pero como esto es un examen, ya lo tienes en esta carpeta, por lo que solo tienes que leerlo. Asígnalo a la variable `avocado` y muestra las primeras 5 filas. 

**AVISO**: Al llamar a la función que lee el `.csv` no uses ningún argumento, solo el nombre del archivo `"avocado_kaggle.csv"`.

In [1030]:
address="https://www.kaggle.com/neuromusic/avocado-prices"

In [1031]:
avocado = pd.read_csv("avocado_kaggle.csv")
avocado

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18244,7,2018-02-04,1.63,17074.83,2046.96,1529.20,0.00,13498.67,13066.82,431.85,0.0,organic,2018,WestTexNewMexico
18245,8,2018-01-28,1.71,13888.04,1191.70,3431.50,0.00,9264.84,8940.04,324.80,0.0,organic,2018,WestTexNewMexico
18246,9,2018-01-21,1.87,13766.76,1191.92,2452.79,727.94,9394.11,9351.80,42.31,0.0,organic,2018,WestTexNewMexico
18247,10,2018-01-14,1.93,16205.22,1527.63,2981.04,727.01,10969.54,10919.54,50.00,0.0,organic,2018,WestTexNewMexico
18248,11,2018-01-07,1.62,17489.58,2894.77,2356.13,224.53,12014.15,11988.14,26.01,0.0,organic,2018,WestTexNewMexico

In [1032]:
avocado.head(5)

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany

Lo primero que debe hacer un Data Scientist es conocer los datos con los que está trabajando, por esto, explora el dataset:
- sacando los nombres de las distintas columnas, 
- qué tipo de datos contienen estas columnas, 
- cuántas filas y columnas tiene el dataframe,
- además de un marco de datos de estadísticas descriptivas de dicho dataframe.

Utiliza la función/funciones que te parezcan mejor para hacer dicha exploración.

In [1033]:
avocado.columns  #Nombres de columnas

Index(['Unnamed: 0', 'Date', 'AveragePrice', 'Total Volume', '4046', '4225',
       '4770', 'Total Bags', 'Small Bags', 'Large Bags', 'XLarge Bags', 'type',
       'year', 'region'],
      dtype='object')

In [1034]:
avocado.columns

Index(['Unnamed: 0', 'Date', 'AveragePrice', 'Total Volume', '4046', '4225',
       '4770', 'Total Bags', 'Small Bags', 'Large Bags', 'XLarge Bags', 'type',
       'year', 'region'],
      dtype='object')

In [1035]:
avocado.shape

(18249, 14)

In [1036]:
df2=avocado.describe()
df2

,Unnamed: 0,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,year
count,18249.000000,18249.000000,1.824900e+04,1.824900e+04,1.824900e+04,1.824900e+04,1.824900e+04,1.824900e+04,1.824900e+04,18249.000000,18249.000000
mean,24.232232,1.405978,8.506440e+05,2.930084e+05,2.951546e+05,2.283974e+04,2.396392e+05,1.821947e+05,5.433809e+04,3106.426507,2016.147899
std,15.481045,0.402677,3.453545e+06,1.264989e+06,1.204120e+06,1.074641e+05,9.862424e+05,7.461785e+05,2.439660e+05,17692.894652,0.939938
min,0.000000,0.440000,8.456000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,2015.000000
25%,10.000000,1.100000,1.083858e+04,8.540700e+02,3.008780e+03,0.000000e+00,5.088640e+03,2.849420e+03,1.274700e+02,0.000000,2015.000000
50%,24.000000,1.370000,1.073768e+05,8.645300e+03,2.906102e+04,1.849900e+02,3.974383e+04,2.636282e+04,2.647710e+03,0.000000,2016.000000
75%,38.000000,1.660000,4.329623e+05,1.110202e+05,1.502069e+05,6.243420e+03,1.107834e+05,8.333767e+04,2.202925e+04,132.500000,2017.000000
max,52.000000,3.250000,6.250565e+07,2.274362e+07,2.047057e+07,2.546439e+06,1.937313e+07,1.338459e+07,5.719097e+06,551693.650000,2018.000000

Muestra el index número **2904** de la columna `Date`.

In [1037]:
 avocado.iloc[2904,:].loc[["Date"]]

Date    2016-02-21
Name: 2904, dtype: object

¿De qué tipo es este valor?

Esta columna contiene fechas, por lo que para poder trabajarla como tal, pásala a tipo `datetime64[ns]`.

Existe una forma de importar el archivo `.csv` estableciendo la columna `Date` como el index, si has hecho esto al importar el archivo, a pesar del AVISO, vuelve a importarlo sin incluir argumentos.

In [1038]:
avocado.set_index('Date', inplace=True)

In [1039]:
avocado

,Unnamed: 0,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
Date,,,,,,,,,,,,,
2015-12-27,0,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
2015-12-20,1,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2015-12-13,2,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
2015-12-06,3,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
2015-11-29,4,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-02-04,7,1.63,17074.83,2046.96,1529.20,0.00,13498.67,13066.82,431.85,0.0,organic,2018,WestTexNewMexico
2018-01-28,8,1.71,13888.04,1191.70,3431.50,0.00,9264.84,8940.04,324.80,0.0,organic,2018,WestTexNewMexico
2018-01-21,9,1.87,13766.76,1191.92,2452.79,727.94,9394.11,9351.80,42.31,0.0,organic,2018,WestTexNewMexico
2018-01-14,10,1.93,16205.22,1527.63,2981.04,727.01,10969.54,10919.54,50.00,0.0,organic,2018,WestTexNewMexico
2018-01-07,11,1.62,17489.58,2894.77,2356.13,224.53,12014.15,11988.14,26.01,0.0,organic,2018,WestTexNewMexico

In [1040]:
avocado.index=pd.to_datetime(avocado.index)

In [1041]:
type(avocado.index)

pandas.core.indexes.datetimes.DatetimeIndex

Establece esta columna como el index de `avocado`.

In [1042]:
# your code here

Muestra los 7 últimos valores del dataframe y observa que efectivamente se ha actualizado el index.

In [1043]:
avocado.tail (7)

,Unnamed: 0,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
Date,,,,,,,,,,,,,
2018-02-18,5,1.56,17597.12,1892.05,1928.36,0.00,13776.71,13553.53,223.18,0.0,organic,2018,WestTexNewMexico
2018-02-11,6,1.57,15986.17,1924.28,1368.32,0.00,12693.57,12437.35,256.22,0.0,organic,2018,WestTexNewMexico
2018-02-04,7,1.63,17074.83,2046.96,1529.20,0.00,13498.67,13066.82,431.85,0.0,organic,2018,WestTexNewMexico
2018-01-28,8,1.71,13888.04,1191.70,3431.50,0.00,9264.84,8940.04,324.80,0.0,organic,2018,WestTexNewMexico
2018-01-21,9,1.87,13766.76,1191.92,2452.79,727.94,9394.11,9351.80,42.31,0.0,organic,2018,WestTexNewMexico
2018-01-14,10,1.93,16205.22,1527.63,2981.04,727.01,10969.54,10919.54,50.00,0.0,organic,2018,WestTexNewMexico
2018-01-07,11,1.62,17489.58,2894.77,2356.13,224.53,12014.15,11988.14,26.01,0.0,organic,2018,WestTexNewMexico

Además si al leer el archivo `.csv` no eliminaste esta columna, el dataframe seguirá teniendo una columna llamada `Unnamed: 0` que contendría el valor de los index. Si es así, elimínala.

In [1044]:
del(avocado["Unnamed: 0"])

In [1045]:
avocado

,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
Date,,,,,,,,,,,,
2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany
...,...,...,...,...,...,...,...,...,...,...,...,...
2018-02-04,1.63,17074.83,2046.96,1529.20,0.00,13498.67,13066.82,431.85,0.0,organic,2018,WestTexNewMexico
2018-01-28,1.71,13888.04,1191.70,3431.50,0.00,9264.84,8940.04,324.80,0.0,organic,2018,WestTexNewMexico
2018-01-21,1.87,13766.76,1191.92,2452.79,727.94,9394.11,9351.80,42.31,0.0,organic,2018,WestTexNewMexico
2018-01-14,1.93,16205.22,1527.63,2981.04,727.01,10969.54,10919.54,50.00,0.0,organic,2018,WestTexNewMexico
2018-01-07,1.62,17489.58,2894.77,2356.13,224.53,12014.15,11988.14,26.01,0.0,organic,2018,WestTexNewMexico

¿Qué columnas continúan siendo de tipo **object**? Usa al menos una función de **pandas** para ello.

In [1046]:
avocado.columns

Index(['AveragePrice', 'Total Volume', '4046', '4225', '4770', 'Total Bags',
       'Small Bags', 'Large Bags', 'XLarge Bags', 'type', 'year', 'region'],
      dtype='object')

In [1047]:
avocado["AveragePrice"].dtype

dtype('float64')

In [1048]:
avocado["Total Volume"].dtype

dtype('float64')

In [1049]:
avocado["4046"].dtype

dtype('float64')

In [1050]:
avocado["4225"].dtype

dtype('float64')

In [1051]:
avocado["4770"].dtype

dtype('float64')

In [1052]:
avocado["Total Bags"].dtype

dtype('float64')

In [1053]:
avocado["Small Bags"].dtype

dtype('float64')

In [1054]:
avocado["Large Bags"].dtype

dtype('float64')

In [1055]:
avocado["Large Bags"].dtype

dtype('float64')

In [1056]:
avocado["XLarge Bags"].dtype

dtype('float64')

In [1057]:
avocado["type"].dtype

dtype('O')

In [1058]:
avocado["year"].dtype

dtype('int64')

In [1059]:
avocado["region"].dtype

dtype('O')

In [1060]:
# your code here

¿Cuántos valores únicos encontramos en estas columnas que continúan siendo de tipo **object**?

In [1061]:
avocado["region"].unique().tolist()
len(avocado["region"].unique().tolist())

54

In [1062]:
avocado["type"].unique().tolist()
len(avocado["type"].unique().tolist())

2

¿Qué número de ocurrencias tiene cada uno de estos valores únicos en la columna en que se encuentra?

In [1063]:
avocado["region"].value_counts()

Plains                 338
Sacramento             338
Louisville             338
HarrisburgScranton     338
Boise                  338
GrandRapids            338
California             338
Seattle                338
Midsouth               338
RaleighGreensboro      338
DallasFtWorth          338
BaltimoreWashington    338
NewOrleansMobile       338
Roanoke                338
Philadelphia           338
Tampa                  338
SouthCentral           338
SouthCarolina          338
Orlando                338
TotalUS                338
Charlotte              338
Portland               338
MiamiFtLauderdale      338
NewYork                338
LasVegas               338
Pittsburgh             338
SanFrancisco           338
PhoenixTucson          338
Jacksonville           338
Syracuse               338
Houston                338
West                   338
Atlanta                338
Columbus               338
NorthernNewEngland     338
Boston                 338
BuffaloRochester       338
CincinnatiDayton       338
Spokane                338
Northeast              338
Chicago                338
RichmondNorfolk        338
SanDiego               338
Detroit                338
HartfordSpringfield    338
LosAngeles             338
Denver                 338
Albany                 338
Nashville              338
Indianapolis           338
Southeast              338
GreatLakes             338
StLouis                338
WestTexNewMexico       335
Name: region, dtype: int64

In [1064]:
avocado["type"].value_counts()

conventional    9126
organic         9123
Name: type, dtype: int64

Ahora que hemos explorado el dataframe, podemos empezar a trabajar con ello. En este caso, ordena el `index` de manera que la fecha **2015-01-04** quede arriba.

In [1065]:
avocado.sort_values(["Date"],ascending=True)

,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
Date,,,,,,,,,,,,
2015-01-04,1.75,27365.89,9307.34,3844.81,615.28,13598.46,13061.10,537.36,0.00,organic,2015,Southeast
2015-01-04,1.49,17723.17,1189.35,15628.27,0.00,905.55,905.55,0.00,0.00,organic,2015,Chicago
2015-01-04,1.68,2896.72,161.68,206.96,0.00,2528.08,2528.08,0.00,0.00,organic,2015,HarrisburgScranton
2015-01-04,1.52,54956.80,3013.04,35456.88,1561.70,14925.18,11264.80,3660.38,0.00,conventional,2015,Pittsburgh
2015-01-04,1.64,1505.12,1.27,1129.50,0.00,374.35,186.67,187.68,0.00,organic,2015,Boise
...,...,...,...,...,...,...,...,...,...,...,...,...
2018-03-25,1.36,908202.13,142681.06,463136.28,174975.75,127409.04,103579.41,22467.04,1362.59,conventional,2018,Chicago
2018-03-25,0.70,9010588.32,3999735.71,966589.50,30130.82,4014132.29,3398569.92,546409.74,69152.63,conventional,2018,SouthCentral
2018-03-25,1.42,163496.70,29253.30,5080.04,0.00,129163.36,109052.26,20111.10,0.00,organic,2018,SouthCentral
2018-03-25,1.70,190257.38,29644.09,70982.10,0.00,89631.19,89424.11,207.08,0.00,organic,2018,California
2018-03-25,1.34,1774776.77,63905.98,908653.71,843.45,801373.63,774634.09,23833.93,2905.61,conventional,2018,NewYork

In [1066]:
# your code here

Agrupa el dataframe `avocado` por tipo y quédate con el mínimo del resto de las columnas.

In [1067]:
avocado_2=avocado.groupby("type").min()

In [1068]:
avocado_2

,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,year,region
type,,,,,,,,,,,
conventional,0.46,33699.68,72.06,1518.0,0.0,3047.17,1119.18,0.0,0.0,2015,Albany
organic,0.44,84.56,0.00,0.0,0.0,0.00,0.00,0.0,0.0,2015,Albany

Además, queremos conocer el máximo de bolsas pequeñas, bolsas grandes y bolsas extragrandes de aguacates que se vendieron por año, por cada región. Crea un dataframe que se llame `group_bags` que muestre dicha información.

In [1069]:
avocado

,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
Date,,,,,,,,,,,,
2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany
...,...,...,...,...,...,...,...,...,...,...,...,...
2018-02-04,1.63,17074.83,2046.96,1529.20,0.00,13498.67,13066.82,431.85,0.0,organic,2018,WestTexNewMexico
2018-01-28,1.71,13888.04,1191.70,3431.50,0.00,9264.84,8940.04,324.80,0.0,organic,2018,WestTexNewMexico
2018-01-21,1.87,13766.76,1191.92,2452.79,727.94,9394.11,9351.80,42.31,0.0,organic,2018,WestTexNewMexico
2018-01-14,1.93,16205.22,1527.63,2981.04,727.01,10969.54,10919.54,50.00,0.0,organic,2018,WestTexNewMexico
2018-01-07,1.62,17489.58,2894.77,2356.13,224.53,12014.15,11988.14,26.01,0.0,organic,2018,WestTexNewMexico

In [1070]:
avocado_3 = avocado.groupby(['region', 'year']).max()

In [1071]:
avocado_3

                       AveragePrice  Total Volume        4046        4225  \
region           year
Albany           2015          2.09     124055.31     2819.50   109149.67
                 2016          2.00     173781.78    34912.97   163570.47
                 2017          2.13     183549.08     5666.60   165530.03
                 2018          1.71     216738.47    16361.69   195725.06
Atlanta          2015          2.04     636771.37   553198.56    92780.33
...                             ...           ...         ...         ...
West             2018          1.83   10565056.41  3121272.58  3294335.87
WestTexNewMexico 2015          2.19    1053997.99   774232.70   376232.89
                 2016          2.93    1198679.87   755962.49   197733.56
                 2017          2.50    1637554.42  1067388.68   224516.00
                 2018          1.93    1272039.80   544075.54   368948.26

                            4770  Total Bags  Small Bags  Large Bags  \
region           year
Albany           2015    5883.16    29898.96    29663.19      778.26
                 2016     426.92    25264.97    23926.35     2157.76
                 2017    2546.08    36806.79    13277.29    27205.98
                 2018     143.53    34138.80    30126.31    10707.93
Atlanta          2015    4251.74    94436.19    55484.76    52442.25
...                          ...         ...         ...         ...
West             2018  142553.21  4006894.75  1435608.59  2838239.39
WestTexNewMexico 2015   32802.60   175171.59   165202.22    48325.74
                 2016   74916.26   386798.87   243993.80   219187.07
                 2017   28477.27   424013.40   192156.83   287509.52
                 2018   13078.20   358544.26   164965.35   229786.03

                       XLarge Bags     type
region           year
Albany           2015       104.17  organic
                 2016      2900.00  organic
                 2017      2585.00  organic
                 2018       500.00  organic
Atlanta          2015       134.72  organic
...                            ...      ...
West             2018     26564.17  organic
WestTexNewMexico 2015     25716.67  organic
                 2016     38120.00  organic
                 2017      5516.66  organic
                 2018      9317.43  organic

[216 rows x 10 columns]

A partir del dataframe `group_bags` muestra en qué año y en qué región se vendió el máximo número de bolsas pequeñas de aguacates.

In [1072]:
avocado_3["Small Bags"].max()

13384586.8

Asigna a la variable `avocado_months` el dataframe `avocado` agrupado por **meses** y por la media de los valores de cada columna. Hay dos maneras diferentes de resolver este ejercicio, sin embargo, con uno sería suficiente. 

Muestra solo los primeros 15 valores.

In [1073]:
avocado_months=avocado.resample("BM").mean() 
avocado_months

,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,year
Date,,,,,,,,,,
2015-01-30,1.365046,7.363084e+05,296829.313565,301506.093912,20635.684028,117337.264028,96502.584213,20513.634144,321.045671,2015.0
2015-02-27,1.326944,8.394389e+05,354552.080000,334110.463727,24220.692431,126555.650949,106004.821690,20017.510602,533.318657,2015.0
2015-03-31,1.361981,7.751538e+05,324630.507778,299831.998981,23068.926037,127622.400111,109589.476796,17325.542056,707.381259,2015.0
2015-04-30,1.383449,7.966305e+05,348567.729491,291150.142593,22056.120440,134856.551806,114351.516134,19976.716250,528.319421,2015.0
2015-05-29,1.335255,9.083077e+05,398011.679421,339381.167315,24191.347523,146723.494931,123053.009051,23103.541968,566.943912,2015.0
2015-06-30,1.395741,8.763368e+05,376246.486593,312834.259741,27163.731426,160092.312556,137144.884963,22194.135963,753.291630,2015.0
2015-07-31,1.409444,8.256988e+05,326456.573750,321060.962685,27713.835718,150467.386250,126518.964097,23135.342292,813.075231,2015.0
2015-08-31,1.444481,7.763793e+05,300310.837796,321335.405667,25399.461870,129333.573963,109437.493519,18895.924852,1000.153741,2015.0
2015-09-30,1.449144,7.620806e+05,247781.252500,356497.374190,27756.865671,130045.139699,100038.074236,28664.317685,1342.747778,2015.0
2015-10-30,1.391968,7.078151e+05,214976.447894,331744.578704,32360.636991,128733.408218,99441.142894,28159.288125,1132.977199,2015.0
2015-11-30,1.330611,6.841482e+05,230572.546722,292348.258463,24339.130463,136888.279889,106598.555463,29190.574759,1099.149667,2015.0
2015-12-31,1.305244,6.868351e+05,230718.662738,268747.887401,26654.108329,160714.450325,125089.361833,32706.897680,2918.190812,2015.0
2016-01-29,1.236991,8.828596e+05,244254.725579,359589.496829,35289.563681,243725.820046,177114.971366,63914.003403,2696.845278,2016.0
2016-02-29,1.240278,9.678819e+05,296415.195574,365255.309074,43320.277037,262891.102963,194108.748056,65679.865463,3102.489444,2016.0
2016-03-31,1.224213,9.055843e+05,276501.768171,330062.790810,42992.560046,256027.159398,193483.747222,60488.572407,2054.839769,2016.0
2016-04-29,1.205023,9.301684e+05,296899.473704,321948.473310,41840.764861,269479.695046,200286.460347,67071.042153,2122.192546,2016.0
2016-05-31,1.199722,1.039316e+06,318331.990741,384593.533130,41345.668741,295044.604741,212324.574259,79056.908852,3663.121630,2016.0
2016-06-30,1.283056,9.498337e+05,314644.787060,317176.099954,41136.829861,276875.973125,217061.773194,51898.984769,7915.215162,2016.0
2016-07-29,1.389583,8.848478e+05,272678.221620,292879.427500,30448.482222,288841.656157,232294.038935,45837.588056,10710.029167,2016.0
2016-08-31,1.418556,8.441075e+05,292461.813667,266343.208204,17418.706037,267883.803593,220590.961574,43271.624352,4021.217667,2016.0
2016-09-30,1.427870,8.386650e+05,301102.070440,256058.938519,12921.692963,268582.287616,207073.645741,59521.259745,1987.382130,2016.0
2016-10-31,1.557093,6.670404e+05,206836.425519,217634.090463,11974.115111,230595.747204,166865.319759,61820.873019,1909.554426,2016.0
2016-11-30,1.550023,6.023364e+05,197766.242037,194254.194884,11179.161412,199136.829213,148774.357037,49242.166204,1120.305972,2016.0
2016-12-30,1.315995,7.672402e+05,233972.995023,257804.124329,11709.720116,263753.326921,192878.259977,68967.437315,1907.629630,2016.0
2017-01-31,1.277500,9.876538e+05,317062.237130,336661.843815,17590.070759,316339.613870,240422.766833,73925.408593,1991.438444,2017.0
2017-02-28,1.214792,1.091359e+06,376396.705926,346751.412106,26609.973727,341601.167130,259093.394606,78929.197361,3578.575162,2017.0
2017-03-31,1.398935,8.307949e+05,274356.680880,255179.014560,17432.079884,283827.089838,218559.662963,61373.766181,3893.660694,2017.0
2017-04-28,1.490625,8.914325e+05,296010.009606,262426.196435,16053.176366,316943.067731,240757.237454,71900.136366,4285.693912,2017.0
2017-05-31,1.536185,9.823079e+05,331669.986556,285476.389333,17580.451704,347581.047759,254569.388222,87473.617796,5538.041741,2017.0
2017-06-30,1.545395,9.544434e+05,321590.905721,272106.575233,17421.513884,343324.379465,251207.162977,85014.397419,7102.819070,2017.0
2017-07-31,1.564926,8.794513e+05,289383.571130,281372.887426,18194.446722,290480.523056,211679.004259,70991.937019,7809.581778,2017.0
2017-08-31,1.698958,7.831782e+05,265528.838727,248924.000556,15147.614560,253573.479028,180905.033843,66123.047037,6545.398148,2017.0
2017-09-29,1.840949,6.592119e+05,226802.182315,214579.848218,11596.970532,206227.066991,155109.808241,47795.713264,3321.545486,2017.0
2017-10-31,1.752444,6.718110e+05,225684.313037,220760.585130,10241.867074,215118.239241,161607.904037,52014.657056,1495.678148,2017.0
2017-11-30,1.517292,7.512021e+05,261345.969491,222808.244537,10289.274931,256748.859653,182617.605046,71869.258588,2261.975185,2017.0
2017-12-29,1.383935,8.221759e+05,269767.378079,265490.265116,13165.280370,273744.211134,204230.388102,66713.768704,2800.052014,2017.0
2018-01-31,1.366648,9.886295e+05,329438.485019,315945.186815,17381.743611,325860.974315,235958.641370,86304.669833,3597.663111,2017.8
2018-02-28,1.318704,1.152264e+06,392027.877685,340770.855185,18579.356713,400877.131829,287812.299074,106879.125903,6185.706852,2018.0
2018-03-30,1.336458,1.053827e+06,341248.005463,291612.858889,16786.037894,404165.789213,306531.357685,90877.283727,6757.147801,2018.0

In [1074]:
avocado_months.head(15)

,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,year
Date,,,,,,,,,,
2015-01-30,1.365046,736308.355532,296829.313565,301506.093912,20635.684028,117337.264028,96502.584213,20513.634144,321.045671,2015.0
2015-02-27,1.326944,839438.887106,354552.080000,334110.463727,24220.692431,126555.650949,106004.821690,20017.510602,533.318657,2015.0
2015-03-31,1.361981,775153.832907,324630.507778,299831.998981,23068.926037,127622.400111,109589.476796,17325.542056,707.381259,2015.0
2015-04-30,1.383449,796630.544329,348567.729491,291150.142593,22056.120440,134856.551806,114351.516134,19976.716250,528.319421,2015.0
2015-05-29,1.335255,908307.689190,398011.679421,339381.167315,24191.347523,146723.494931,123053.009051,23103.541968,566.943912,2015.0
2015-06-30,1.395741,876336.790315,376246.486593,312834.259741,27163.731426,160092.312556,137144.884963,22194.135963,753.291630,2015.0
2015-07-31,1.409444,825698.779236,326456.573750,321060.962685,27713.835718,150467.386250,126518.964097,23135.342292,813.075231,2015.0
2015-08-31,1.444481,776379.286704,300310.837796,321335.405667,25399.461870,129333.573963,109437.493519,18895.924852,1000.153741,2015.0
2015-09-30,1.449144,762080.632060,247781.252500,356497.374190,27756.865671,130045.139699,100038.074236,28664.317685,1342.747778,2015.0
2015-10-30,1.391968,707815.071806,214976.447894,331744.578704,32360.636991,128733.408218,99441.142894,28159.288125,1132.977199,2015.0
2015-11-30,1.330611,684148.215537,230572.546722,292348.258463,24339.130463,136888.279889,106598.555463,29190.574759,1099.149667,2015.0
2015-12-31,1.305244,686835.108794,230718.662738,268747.887401,26654.108329,160714.450325,125089.361833,32706.897680,2918.190812,2015.0
2016-01-29,1.236991,882859.606134,244254.725579,359589.496829,35289.563681,243725.820046,177114.971366,63914.003403,2696.845278,2016.0
2016-02-29,1.240278,967881.884648,296415.195574,365255.309074,43320.277037,262891.102963,194108.748056,65679.865463,3102.489444,2016.0
2016-03-31,1.224213,905584.278426,276501.768171,330062.790810,42992.560046,256027.159398,193483.747222,60488.572407,2054.839769,2016.0

A partir de `avocado_months` calcula el precio máximo de los aguacates de los meses de enero.

Asigna a la variable `avocado_tri` el dataframe `avocado` agrupado por **trimestre** y el sumatorio de los valores de cada columna.

Crea un subset de `avocado` en el que solo se incluyan las siguientes columnas: `"AveragePrice"`,`"Total Volume"`,`"type"`,`"year"` y `"region"`, llámalo `avo_subset`.

In [1076]:
# your code here

Filtra el dataframe `avo_subset` de modo que muestre solo aquellos datos de los aguacates tipo organic en la region de California durante el año 2017. Llama a la variable `org_Cal`.

In [1077]:
# your code here

Usando `org_Cal` saca la mediana del volumen total.

In [1078]:
# your code here

¿Qué precio medio había el día que el volumen total fue igual a la mediana de la mencionada columna, `"Total Volume"`?

In [1079]:
# your code here

Muestra la evolución del precio medio, `"AveragePrice"`, de los aguacates de tipo orgánicos de California durante el año 2017 con un gráfico de una línea, usando `org_Cal`.

In [1080]:
# your code here

A partir del subset `avo_subset` trata de sacar un gráfico en el que se pueda observar la cantidad de aguacates de tipo **conventional**, a lo largo de todos los periodos. 

Haz un gráfico simple usando la librería **pandas**.

In [1081]:
# your code here

Crea una función **lambda** que quite los dos primeros dígitos de cada año de la columna `"year"` y lo convierta a string. 
Después aplica esta función a toda la columna del dataframe `avo_subset`. 

Ejemplo: `2015` --> `"15"`

In [1082]:
# your code here

# ¡Ya tienes un 10!

**No te conformes y si te sobra tiempo, ve a por el 11 o si no, recupera algún puntito si algún ejercicio se te ha quedado atascado. ¡Otra oportunidad!**

En esta misma carpeta encontrarás un archivo llamado `supermarket_region.csv`, asígnalo a la variable `supermarket` y muestra los primeros 5 filas.

In [1083]:
# your code here

El dataframe `supermarket` y `avo_subset` tienen una columna en común que es `region`, sabiendo esto, utiliza el método adecuado para unir ambos dataframes en uno llamado `avo_merged`. 

Si lo has hecho bien, no debería salir ningún **null**.

In [1084]:
# your code here

Guarda `avo_merged` como un `.json` usando la función de **pandas** correspondiente, el nombre del archivo deberá ser `"avo_merged.json"`.

In [1085]:
# your code here