Crea un programa que, llamando a una función clean_df(path), lea un archivo leíble por pandas, lo transforme a dataframe y lo limpie si es posible. 

La función clean_df() retornará el dataframe limpiado.

In [7]:
import pandas as pd

In [36]:
archivo="C:\\Users\\joseMaría\\Documents\\cursos\\data_science\\mitrabajo\\mi_repositorio\\Semana_8\\day4\\data\\iris.csv"
def clean_df(path=None):
    df= pd.read_csv(path)
    df.fillna(0)
    df.dropna( )
    return df
df=clean_df(path=archivo)

In [37]:
df

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

En la función clean_df:

- path: representa la ubicación o url de donde pandas lee el archivo a cargar.