## Working on Jsons

In [1]:
import requests
import json
import pandas as pd

In [2]:
r = requests.get()
json_readed = json.loads(r.text)
#json_readed

In [3]:
#print(json_readed)

Save json in a local file called "data.json"

In [4]:
with open('data.json', 'w+') as outfile:
    json.dump(json_readed, outfile)

In [5]:
with open('data.json') as f:
    line = f.readline()
    if line:
        print(line)
        line = f.readline()
print(line)

e, "city": "Adelaide", "altCityName": "Adelaide", "fullName": "Adelaide 36ers", "tricode": "ADL", "teamId": "15019", "nickname": "36ers", "urlName": "36ers", "confName": "Intl", "divName": ""}, {"isNBAFranchise": true, "isAllStar": false, "city": "Atlanta", "altCityName": "Atlanta", "fullName": "Atlanta Hawks", "tricode": "ATL", "teamId": "1610612737", "nickname": "Hawks", "urlName": "hawks", "confName": "East", "divName": "Southeast"}, {"isNBAFranchise": false, "isAllStar": false, "city": "Beijing", "altCityName": "Beijing", "fullName": "Beijing Ducks", "tricode": "BJD", "teamId": "15021", "nickname": "Ducks", "urlName": "ducks", "confName": "Intl", "divName": ""}, {"isNBAFranchise": true, "isAllStar": false, "city": "Boston", "altCityName": "Boston", "fullName": "Boston Celtics", "tricode": "BOS", "teamId": "1610612738", "nickname": "Celtics", "urlName": "celtics", "confName": "East", "divName": "Atlantic"}, {"isNBAFranchise": true, "isAllStar": false, "city": "Brooklyn", "altCityName": "Brooklyn", "fullName": "Brooklyn Nets", "tricode": "BKN", "teamId": "1610612751", "nickname": "Nets", "urlName": "nets", "confName": "East", "divName": "Atlantic"}, {"isNBAFranchise": true, "isAllStar": false, "city": "Charlotte", "altCityName": "Charlotte", "fullName": "Charlotte Hornets", "tricode": "CHA", "teamId": "1610612766", "nickname": "Hornets", "urlName": "hornets", "confName": "East", "divName": "Southeast"}, {"isNBAFranchise": true, "isAllStar": false, "city": "Chicago", "altCityName": "Chicago", "fullName": "Chicago Bulls", "tricode": "CHI", "teamId": "1610612741", "nickname": "Bulls", "urlName": "bulls", "confName": "East", "divName": "Central"}, {"isNBAFranchise": true, "isAllStar": false, "city": "Cleveland", "altCityName": "Cleveland", "fullName": "Cleveland Cavaliers", "tricode": "CLE", "teamId": "1610612739", "nickname": "Cavaliers", "urlName": "cavaliers", "confName": "East", "divName": "Central"}, {"isNBAFranchise": true, "isAllStar": false, "city": "Dallas", "altCityName": "Dallas", "fullName": "Dallas Mavericks", "tricode": "DAL", "teamId": "1610612742", "nickname": "Mavericks", "urlName": "mavericks", "confName": "West", "divName": "Southwest"}, {"isNBAFranchise": true, "isAllStar": false, "city": "Denver", "altCityName": "Denver", "fullName": "Denver Nuggets", "tricode": "DEN", "teamId": "1610612743", "nickname": "Nuggets", "urlName": "nuggets", "confName": "West", "divName": "Northwest"}, {"isNBAFranchise": true, "isAllStar": false, "city": "Detroit", "altCityName": "Detroit", "fullName": "Detroit Pistons", "tricode": "DET", "teamId": "1610612765", "nickname": "Pistons", "urlName": "pistons", "confName": "East", "divName": "Central"}, {"isNBAFranchise": true, "isAllStar": false, "city": "Golden State", "altCityName": "Golden State", "fullName": "Golden State Warriors", "tricode": "GSW", "teamId": "1610612744", "nickname": "Warriors", "urlName": "warriors", "confName": "West", "divName": "Pacific"}, {"isNBAFranchise": false, "isAllStar": false, "city": "Guangzhou", "altCityName": "Guangzhou", "fullName": "Guangzhou Long-Lions", "tricode": "GUA", "teamId": "15018", "nickname": "Long-Lions", "urlName": "long-lions", "confName": "Intl", "divName": ""}, {"isNBAFranchise": false, "isAllStar": false, "city": "Haifa", "altCityName": "Haifa", "fullName": "Maccabi Haifa", "tricode": "MAC", "teamId": "93", "nickname": "Maccabi Haifa", "urlName": "maccabi_haifa", "confName": "Intl", "divName": ""}, {"isNBAFranchise": true, "isAllStar": false, "city": "Houston", "altCityName": "Houston", "fullName": "Houston Rockets", "tricode": "HOU", "teamId": "1610612745", "nickname": "Rockets", "urlName": "rockets", "confName": "West", "divName": "Southwest"}, {"isNBAFranchise": true, "isAllStar": false, "city": "Indiana", "altCityName": "Indiana", "fullName": "Indiana Pacers", "tricode": "IND", "teamId": "1610612754", "nickname": "Pacers", "urlName": "pacers", "confName": "East", "divName": "Central"}, {"isNBAFranchise": true, "isAllStar": false, "city": "LA", "altCityName": "LA Clippers", "fullName": "LA Clippers", "tricode": "LAC", "teamId": "1610612746", "nickname": "Clippers", "urlName": "clippers", "confName": "West", "divName": "Pacific"}, {"isNBAFranchise": true, "isAllStar": false, "city": "Los Angeles", "altCityName": "Los Angeles Lakers", "fullName": "Los Angeles Lakers", "tricode": "LAL", "teamId": "1610612747", "nickname": "Lakers", "urlName": "lakers", "confName": "West", "divName": "Pacific"}, {"isNBAFranchise": false, "isAllStar": false, "city": "Melbourne", "altCityName": "Melbourne", "fullName": "Melbourne United", "tricode": "MEL", "teamId": "15016", "nickname": "United", "urlName": "united", "confName": "Intl", "divName": ""}, {"isNBAFranchise": true, "isAllStar": false, "city": "Memphis", "altCityName": "Memphis", "fullName": "Memphis Grizzlies", "tricode": "MEM", "teamId": "1610612763", "nickname": "Grizzlies", "urlName": "grizzlies", "confName": "West", "divName": "Southwest"}, {"isNBAFranchise": true, "isAllStar": false, "city": "Miami", "altCityName": "Miami", "fullName": "Miami Heat", "tricode": "MIA", "teamId": "1610612748", "nickname": "Heat", "urlName": "heat", "confName": "East", "divName": "Southeast"}, {"isNBAFranchise": true, "isAllStar": false, "city": "Milwaukee", "altCityName": "Milwaukee", "fullName": "Milwaukee Bucks", "tricode": "MIL", "teamId": "1610612749", "nickname": "Bucks", "urlName": "bucks", "confName": "East", "divName": "Central"}, {"isNBAFranchise": true, "isAllStar": false, "city": "Minnesota", "altCityName": "Minnesota", "fullName": "Minnesota Timberwolves", "tricode": "MIN", "teamId": "1610612750", "nickname": "Timberwolves", "urlName": "timberwolves", "confName": "West", "divName": "Northwest"}, {"isNBAFranchise": true, "isAllStar": false, "city": "New Orleans", "altCityName": "New Orleans", "fullName": "New Orleans Pelicans", "tricode": "NOP", "teamId": "1610612740", "nickname": "Pelicans", "urlName": "pelicans", "confName": "West", "divName": "Southwest"}, {"isNBAFranchise": true, "isAllStar": false, "city": "New York", "altCityName": "New York", "fullName": "New York Knicks", "tricode": "NYK", "teamId": "1610612752", "nickname": "Knicks", "urlName": "knicks", "confName": "East", "divName": "Atlantic"}, {"isNBAFranchise": false, "isAllStar": false, "city": "New Zealand", "altCityName": "New Zealand", "fullName": "New Zealand Breakers", "tricode": "NZB", "teamId": "15020", "nickname": "Breakers", "urlName": "breakers", "confName": "Intl", "divName": ""}, {"isNBAFranchise": true, "isAllStar": false, "city": "Oklahoma City", "altCityName": "Oklahoma City", "fullName": "Oklahoma City Thunder", "tricode": "OKC", "teamId": "1610612760", "nickname": "Thunder", "urlName": "thunder", "confName": "West", "divName": "Northwest"}, {"isNBAFranchise": true, "isAllStar": false, "city": "Orlando", "altCityName": "Orlando", "fullName": "Orlando Magic", "tricode": "ORL", "teamId": "1610612753", "nickname": "Magic", "urlName": "magic", "confName": "East", "divName": "Southeast"}, {"isNBAFranchise": false, "isAllStar": false, "city": "Perth", "altCityName": "Perth", "fullName": "Perth Wildcats", "tricode": "PER", "teamId": "104", "nickname": "Wildcats", "urlName": "wildcats", "confName": "Intl", "divName": ""}, {"isNBAFranchise": true, "isAllStar": false, "city": "Philadelphia", "altCityName": "Philadelphia", "fullName": "Philadelphia 76ers", "tricode": "PHI", "teamId": "1610612755", "nickname": "76ers", "urlName": "sixers", "confName": "East", "divName": "Atlantic"}, {"isNBAFranchise": true, "isAllStar": false, "city": "Phoenix", "altCityName": "Phoenix", "fullName": "Phoenix Suns", "tricode": "PHX", "teamId": "1610612756", "nickname": "Suns", "urlName": "suns", "confName": "West", "divName": "Pacific"}, {"isNBAFranchise": true, "isAllStar": false, "city": "Portland", "altCityName": "Portland", "fullName": "Portland Trail Blazers", "tricode": "POR", "teamId": "1610612757", "nickname": "Trail Blazers", "urlName": "blazers", "confName": "West", "divName": "Northwest"}, {"isNBAFranchise": false, "isAllStar": false, "city": "Rio de Janeiro", "altCityName": "Rio de Janeiro", "fullName": "Rio de Janeiro Flamengo", "tricode": "FLA", "teamId": "12325", "nickname": "Flamengo", "urlName": "flamengo", "confName": "Intl", "divName": ""}, {"isNBAFranchise": true, "isAllStar": false, "city": "Sacramento", "altCityName": "Sacramento", "fullName": "Sacramento Kings", "tricode": "SAC", "teamId": "1610612758", "nickname": "Kings", "urlName": "kings", "confName": "West", "divName": "Pacific"}, {"isNBAFranchise": true, "isAllStar": false, "city": "San Antonio", "altCityName": "San Antonio", "fullName": "San Antonio Spurs", "tricode": "SAS", "teamId": "1610612759", "nickname": "Spurs", "urlName": "spurs", "confName": "West", "divName": "Southwest"}, {"isNBAFranchise": false, "isAllStar": false, "city": "Shanghai", "altCityName": "Shanghai", "fullName": "Shanghai Sharks", "tricode": "SDS", "teamId": "12329", "nickname": "Shanghai Sharks", "urlName": "shanghai_sharks", "confName": "Intl", "divName": ""}, {"isNBAFranchise": false, "isAllStar": false, "city": "Sydney", "altCityName": "Sydney", "fullName": "Sydney Kings", "tricode": "SYD", "teamId": "15015", "nickname": "Kings", "urlName": "kings", "confName": "Intl", "divName": ""}, {"isNBAFranchise": true, "isAllStar": false, "city": "Toronto", "altCityName": "Toronto", "fullName": "Toronto Raptors", "tricode": "TOR", "teamId": "1610612761", "nickname": "Raptors", "urlName": "raptors", "confName": "East", "divName": "Atlantic"}, {"isNBAFranchise": true, "isAllStar": false, "city": "Utah", "altCityName": "Utah", "fullName": "Utah Jazz", "tricode": "UTA", "teamId": "1610612762", "nickname": "Jazz", "urlName": "jazz", "confName": "West", "divName": "Northwest"}, {"isNBAFranchise": true, "isAllStar": false, "city": "Washington", "altCityName": "Washington", "fullName": "Washington Wizards", "tricode": "WAS", "teamId": "1610612764", "nickname": "Wizards", "urlName": "wizards", "confName": "East", "divName": "Southeast"}], "africa": [{"isNBAFranchise": false, "isAllStar": false, "city": "Team", "altCityName": "Team", "fullName": "Team Africa", "tricode": "AFR", "teamId": "12326", "nickname": "Africa", "urlName": "africa", "confName": "", "divName": ""}, {"isNBAFranchise": false, "isAllStar": false, "city": "Team", "altCityName": "Team", "fullName": "Team World", "tricode": "WLD", "teamId": "12327", "nickname": "World", "urlName": "world", "confName": "", "divName": ""}], "sacramento": [{"isNBAFranchise": true, "isAllStar": false, "city": "Golden State", "altCityName": "Golden State", "fullName": "Golden State Warriors", "tricode": "GSW", "teamId": "1610612744", "nickname": "Warriors", "urlName": "warriors", "confName": "Sacramento", "divName": ""}, {"isNBAFranchise": true, "isAllStar": false, "city": "Los Angeles", "altCityName": "Los Angeles Lakers", "fullName": "Los Angeles Lakers", "tricode": "LAL", "teamId": "1610612747", "nickname": "Lakers", "urlName": "lakers", "confName": "Sacramento", "divName": ""}, {"isNBAFranchise": true, "isAllStar": false, "city": "Miami", "altCityName": "Miami", "fullName": "Miami Heat", "tricode": "MIA", "teamId": "1610612748", "nickname": "Heat", "urlName": "heat", "confName": "Sacramento", "divName": ""}, {"isNBAFranchise": true, "isAllStar": false, "city": "Sacramento", "altCityName": "Sacramento", "fullName": "Sacramento Kings", "tricode": "SAC", "teamId": "1610612758", "nickname": "Kings", "urlName": "kings", "confName": "Sacramento", "divName": ""}], "vegas": [{"isNBAFranchise": true, "isAllStar": false, "city": "Atlanta", "altCityName": "Atlanta", "fullName": "Atlanta Hawks", "tricode": "ATL", "teamId": "1610612737", "nickname": "Hawks", "urlName": "hawks", "confName": "summer", "divName": ""}, {"isNBAFranchise": true, "isAllStar": false, "city": "Boston", "altCityName": "Boston", "fullName": "Boston Celtics", "tricode": "BOS", "teamId": "1610612738", "nickname": "Celtics", "urlName": "celtics", "confName": "summer", "divName": ""}, {"isNBAFranchise": true, "isAllStar": false, "city": "Brooklyn", "altCityName": "Brooklyn", "fullName": "Brooklyn Nets", "tricode": "BKN", "teamId": "1610612751", "nickname": "Nets", "urlName": "nets", "confName": "summer", "divName": ""}, {"isNBAFranchise": true, "isAllStar": false, "city": "Charlotte", "altCityName": "Charlotte", "fullName": "Charlotte Hornets", "tricode": "CHA", "teamId": "1610612766", "nickname": "Hornets", "urlName": "hornets", "confName": "summer", "divName": ""}, {"isNBAFranchise": true, "isAllStar": false, "city": "Chicago", "altCityName": "Chicago", "fullName": "Chicago Bulls", "tricode": "CHI", "teamId": "1610612741", "nickname": "Bulls", "urlName": "bulls", "confName": "summer", "divName": ""}, {"isNBAFranchise": true, "isAllStar": false, "city": "Cleveland", "altCityName": "Cleveland", "fullName": "Cleveland Cavaliers", "tricode": "CLE", "teamId": "1610612739", "nickname": "Cavaliers", "urlName": "cavaliers", "confName": "summer", "divName": ""}, {"isNBAFranchise": true, "isAllStar": false, "city": "Dallas", "altCityName": "Dallas", "fullName": "Dallas Mavericks", "tricode": "DAL", "teamId": "1610612742", "nickname": "Mavericks", "urlName": "mavericks", "confName": "summer", "divName": ""}, {"isNBAFranchise": true, "isAllStar": false, "city": "Denver", "altCityName": "Denver", "fullName": "Denver Nuggets", "tricode": "DEN", "teamId": "1610612743", "nickname": "Nuggets", "urlName": "nuggets", "confName": "summer", "divName": ""}, {"isNBAFranchise": true, "isAllStar": false, "city": "Detroit", "altCityName": "Detroit", "fullName": "Detroit Pistons", "tricode": "DET", "teamId": "1610612765", "nickname": "Pistons", "urlName": "pistons", "confName": "summer", "divName": ""}, {"isNBAFranchise": true, "isAllStar": false, "city": "Golden State", "altCityName": "Golden State", "fullName": "Golden State Warriors", "tricode": "GSW", "teamId": "1610612744", "nickname": "Warriors", "urlName": "warriors", "confName": "summer", "divName": ""}, {"isNBAFranchise": true, "isAllStar": false, "city": "Houston", "altCityName": "Houston", "fullName": "Houston Rockets", "tricode": "HOU", "teamId": "1610612745", "nickname": "Rockets", "urlName": "rockets", "confName": "summer", "divName": ""}, {"isNBAFranchise": true, "isAllStar": false, "city": "Indiana", "altCityName": "Indiana", "fullName": "Indiana Pacers", "tricode": "IND", "teamId": "1610612754", "nickname": "Pacers", "urlName": "pacers", "confName": "summer", "divName": ""}, {"isNBAFranchise": true, "isAllStar": false, "city": "LA", "altCityName": "LA Clippers", "fullName": "LA Clippers", "tricode": "LAC", "teamId": "1610612746", "nickname": "Clippers", "urlName": "clippers", "confName": "summer", "divName": ""}, {"isNBAFranchise": true, "isAllStar": false, "city": "Los Angeles", "altCityName": "Los Angeles Lakers", "fullName": "Los Angeles Lakers", "tricode": "LAL", "teamId": "1610612747", "nickname": "Lakers", "urlName": "lakers", "confName": "summer", "divName": ""}, {"isNBAFranchise": true, "isAllStar": false, "city": "Memphis", "altCityName": "Memphis", "fullName": "Memphis Grizzlies", "tricode": "MEM", "teamId": "1610612763", "nickname": "Grizzlies", "urlName": "grizzlies", "confName": "summer", "divName": ""}, {"isNBAFranchise": true, "isAllStar": false, "city": "Miami", "altCityName": "Miami", "fullName": "Miami Heat", "tricode": "MIA", "teamId": "1610612748", "nickname": "Heat", "urlName": "heat", "confName": "summer", "divName": ""}, {"isNBAFranchise": true, "isAllStar": false, "city": "Milwaukee", "altCityName": "Milwaukee", "fullName": "Milwaukee Bucks", "tricode": "MIL", "teamId": "1610612749", "nickname": "Bucks", "urlName": "bucks", "confName": "summer", "divName": ""}, {"isNBAFranchise": true, "isAllStar": false, "city": "Minnesota", "altCityName": "Minnesota", "fullName": "Minnesota Timberwolves", "tricode": "MIN", "teamId": "1610612750", "nickname": "Timberwolves", "urlName": "timberwolves", "confName": "summer", "divName": ""}, {"isNBAFranchise": true, "isAllStar": false, "city": "New Orleans", "altCityName": "New Orleans", "fullName": "New Orleans Pelicans", "tricode": "NOP", "teamId": "1610612740", "nickname": "Pelicans", "urlName": "pelicans", "confName": "summer", "divName": ""}, {"isNBAFranchise": true, "isAllStar": false, "city": "New York", "altCityName": "New York", "fullName": "New York Knicks", "tricode": "NYK", "teamId": "1610612752", "nickname": "Knicks", "urlName": "knicks", "confName": "summer", "divName": ""}, {"isNBAFranchise": true, "isAllStar": false, "city": "Oklahoma City", "altCityName": "Oklahoma City", "fullName": "Oklahoma City Thunder", "tricode": "OKC", "teamId": "1610612760", "nickname": "Thunder", "urlName": "thunder", "confName": "summer", "divName": ""}, {"isNBAFranchise": true, "isAllStar": false, "city": "Orlando", "altCityName": "Orlando", "fullName": "Orlando Magic", "tricode": "ORL", "teamId": "1610612753", "nickname": "Magic", "urlName": "magic", "confName": "summer", "divName": ""}, {"isNBAFranchise": true, "isAllStar": false, "city": "Philadelphia", "altCityName": "Philadelphia", "fullName": "Philadelphia 76ers", "tricode": "PHI", "teamId": "1610612755", "nickname": "76ers", "urlName": "sixers", "confName": "summer", "divName": ""}, {"isNBAFranchise": true, "isAllStar": false, "city": "Phoenix", "altCityName": "Phoenix", "fullName": "Phoenix Suns", "tricode": "PHX", "teamId": "1610612756", "nickname": "Suns", "urlName": "suns", "confName": "summer", "divName": ""}, {"isNBAFranchise": true, "isAllStar": false, "city": "Portland", "altCityName": "Portland", "fullName": "Portland Trail Blazers", "tricode": "POR", "teamId": "1610612757", "nickname": "Trail Blazers", "urlName": "blazers", "confName": "summer", "divName": ""}, {"isNBAFranchise": true, "isAllStar": false, "city": "Sacramento", "altCityName": "Sacramento", "fullName": "Sacramento Kings", "tricode": "SAC", "teamId": "1610612758", "nickname": "Kings", "urlName": "kings", "confName": "summer", "divName": ""}, {"isNBAFranchise": true, "isAllStar": false, "city": "San Antonio", "altCityName": "San Antonio", "fullName": "San Antonio Spurs", "tricode": "SAS", "teamId": "1610612759", "nickname": "Spurs", "urlName": "spurs", "confName": "summer", "divName": ""}, {"isNBAFranchise": true, "isAllStar": false, "city": "Toronto", "altCityName": "Toronto", "fullName": "Toronto Raptors", "tricode": "TOR", "teamId": "1610612761", "nickname": "Raptors", "urlName": "raptors", "confName": "summer", "divName": ""}, {"isNBAFranchise": true, "isAllStar": false, "city": "Utah", "altCityName": "Utah", "fullName": "Utah Jazz", "tricode": "UTA", "teamId": "1610612762", "nickname": "Jazz", "urlName": "jazz", "confName": "summer", "divName": ""}, {"isNBAFranchise": true, "isAllStar": false, "city": "Washington", "altCityName": "Washington", "fullName": "Washington Wizards", "tricode": "WAS", "teamId": "1610612764", "nickname": "Wizards", "urlName": "wizards", "confName": "summer", "divName": ""}], "utah": [{"isNBAFranchise": true, "isAllStar": false, "city": "Atlanta", "altCityName": "Atlanta", "fullName": "Atlanta Hawks", "tricode": "ATL", "teamId": "1610612737", "nickname": "Hawks", "urlName": "hawks", "confName": "Utah", "divName": ""}, {"isNBAFranchise": true, "isAllStar": false, "city": "Memphis", "altCityName": "Memphis", "fullName": "Memphis Grizzlies", "tricode": "MEM", "teamId": "1610612763", "nickname": "Grizzlies", "urlName": "grizzlies", "confName": "Utah", "divName": ""}, {"isNBAFranchise": true, "isAllStar": false, "city": "San Antonio", "altCityName": "San Antonio", "fullName": "San Antonio Spurs", "tricode": "SAS", "teamId": "1610612759", "nickname": "Spurs", "urlName": "spurs", "confName": "Utah", "divName": ""}, {"isNBAFranchise": true, "isAllStar": false, "city": "Utah", "altCityName": "Utah", "fullName": "Utah Jazz", "tricode": "UTA", "teamId": "1610612762", "nickname": "Jazz", "urlName": "jazz", "confName": "Utah", "divName": ""}]}}

Save with indent

In [6]:
with open('data_indented.json', 'w+') as outfile:
    json.dump(json_readed, outfile, indent=4)

Read local json

In [7]:
with open('data_indented.json', 'r+') as outfile:
    json_readed = json.load(outfile)
#json_readed

In [8]:
df_json = pd.read_json("data_indented.json")
df_json

,_internal,league
pubDateTime,2018-08-30 20:00:04.422,NaN
xslt,xsl/league/roster/marty_teams_list.xsl,NaN
eventName,league_roster,NaN
standard,NaN,"[{'isNBAFranchise': False, 'isAllStar': True, ..."
africa,NaN,"[{'isNBAFranchise': False, 'isAllStar': False,..."
sacramento,NaN,"[{'isNBAFranchise': True, 'isAllStar': False, ..."
vegas,NaN,"[{'isNBAFranchise': True, 'isAllStar': False, ..."
utah,NaN,"[{'isNBAFranchise': True, 'isAllStar': False, ..."

### Data Mining & Data Wrangling
As you can see, there are jsons inside the original json. For that, we have to mining the json (data mining) to be able to use it correctly (data wrangling). 

How do you solve this issue? Research about this and try a solution.

OPCIONAL

In [9]:
copy = df_json.copy()
copy.reset_index(inplace=True)
# Lo de arriba es sinónimo a:
# copy = copy.reset_index()

In [10]:
df_json

,_internal,league
pubDateTime,2018-08-30 20:00:04.422,NaN
xslt,xsl/league/roster/marty_teams_list.xsl,NaN
eventName,league_roster,NaN
standard,NaN,"[{'isNBAFranchise': False, 'isAllStar': True, ..."
africa,NaN,"[{'isNBAFranchise': False, 'isAllStar': False,..."
sacramento,NaN,"[{'isNBAFranchise': True, 'isAllStar': False, ..."
vegas,NaN,"[{'isNBAFranchise': True, 'isAllStar': False, ..."
utah,NaN,"[{'isNBAFranchise': True, 'isAllStar': False, ..."

In [11]:
df_json

,_internal,league
pubDateTime,2018-08-30 20:00:04.422,NaN
xslt,xsl/league/roster/marty_teams_list.xsl,NaN
eventName,league_roster,NaN
standard,NaN,"[{'isNBAFranchise': False, 'isAllStar': True, ..."
africa,NaN,"[{'isNBAFranchise': False, 'isAllStar': False,..."
sacramento,NaN,"[{'isNBAFranchise': True, 'isAllStar': False, ..."
vegas,NaN,"[{'isNBAFranchise': True, 'isAllStar': False, ..."
utah,NaN,"[{'isNBAFranchise': True, 'isAllStar': False, ..."

           _internal                                             league
standard         NaN  [{'isNBAFranchise': False, 'isAllStar': True, ...
africa           NaN  [{'isNBAFranchise': False, 'isAllStar': False,...
sacramento       NaN  [{'isNBAFranchise': True, 'isAllStar': False, ...
vegas            NaN  [{'isNBAFranchise': True, 'isAllStar': False, ...
utah             NaN  [{'isNBAFranchise': True, 'isAllStar': False, ...

In [12]:
df_json_league = df_json.loc["standard":]
df_json_league = df_json_league.drop(["_internal"], axis=1)
df_json_league

                                                       league
standard    [{'isNBAFranchise': False, 'isAllStar': True, ...
africa      [{'isNBAFranchise': False, 'isAllStar': False,...
sacramento  [{'isNBAFranchise': True, 'isAllStar': False, ...
vegas       [{'isNBAFranchise': True, 'isAllStar': False, ...
utah        [{'isNBAFranchise': True, 'isAllStar': False, ...

--------------------
Clara versión 1:

In [13]:
diccionario_json = {}
lista_json = [json for lista_json in df_json_league.league for json in lista_json]

for cada_json in lista_json:
    for key, value in cada_json.items(): 
        if key not in diccionario_json.keys():
            diccionario_json[key] = [value]
        else: 
            diccionario_json[key].append(value)

data = pd.DataFrame(diccionario_json)
data

,isNBAFranchise,isAllStar,city,altCityName,fullName,tricode,teamId,nickname,urlName,confName,divName
0,False,True,USA,USA,USA,USA,1610616843,USA,usa,East,East
1,False,True,World,World,World,WLD,1610616844,World,world,East,East
2,False,True,Team,Team,All-Stars,EST,1699999999,All-Stars,assn_away,East,East
3,False,True,Team,Team,All-Stars,WST,1699999998,All-Stars,assn_home,West,West
4,False,True,Team Giannis,Team Giannis,Team Giannis,GNS,1610616833,Team Giannis,team_giannis,East,East
...,...,...,...,...,...,...,...,...,...,...,...
83,True,False,Washington,Washington,Washington Wizards,WAS,1610612764,Wizards,wizards,summer,
84,True,False,Atlanta,Atlanta,Atlanta Hawks,ATL,1610612737,Hawks,hawks,Utah,
85,True,False,Memphis,Memphis,Memphis Grizzlies,MEM,1610612763,Grizzlies,grizzlies,Utah,
86,True,False,San Antonio,San Antonio,San Antonio Spurs,SAS,1610612759,Spurs,spurs,Utah,
87,True,False,Utah,Utah,Utah Jazz,UTA,1610612762,Jazz,jazz,Utah,

--------------------

Clara versión 2

In [14]:
df = df_json_league.explode('league')
df

                                                     league
standard  {'isNBAFranchise': False, 'isAllStar': True, '...
standard  {'isNBAFranchise': False, 'isAllStar': True, '...
standard  {'isNBAFranchise': False, 'isAllStar': True, '...
standard  {'isNBAFranchise': False, 'isAllStar': True, '...
standard  {'isNBAFranchise': False, 'isAllStar': True, '...
...                                                     ...
vegas     {'isNBAFranchise': True, 'isAllStar': False, '...
utah      {'isNBAFranchise': True, 'isAllStar': False, '...
utah      {'isNBAFranchise': True, 'isAllStar': False, '...
utah      {'isNBAFranchise': True, 'isAllStar': False, '...
utah      {'isNBAFranchise': True, 'isAllStar': False, '...

[88 rows x 1 columns]

In [15]:
df = df_json_league.explode('league').apply(lambda e: e.league, axis = 1, result_type = 'expand')
df

,isNBAFranchise,isAllStar,city,altCityName,fullName,tricode,teamId,nickname,urlName,confName,divName
standard,False,True,USA,USA,USA,USA,1610616843,USA,usa,East,East
standard,False,True,World,World,World,WLD,1610616844,World,world,East,East
standard,False,True,Team,Team,All-Stars,EST,1699999999,All-Stars,assn_away,East,East
standard,False,True,Team,Team,All-Stars,WST,1699999998,All-Stars,assn_home,West,West
standard,False,True,Team Giannis,Team Giannis,Team Giannis,GNS,1610616833,Team Giannis,team_giannis,East,East
...,...,...,...,...,...,...,...,...,...,...,...
vegas,True,False,Washington,Washington,Washington Wizards,WAS,1610612764,Wizards,wizards,summer,
utah,True,False,Atlanta,Atlanta,Atlanta Hawks,ATL,1610612737,Hawks,hawks,Utah,
utah,True,False,Memphis,Memphis,Memphis Grizzlies,MEM,1610612763,Grizzlies,grizzlies,Utah,
utah,True,False,San Antonio,San Antonio,San Antonio Spurs,SAS,1610612759,Spurs,spurs,Utah,
utah,True,False,Utah,Utah,Utah Jazz,UTA,1610612762,Jazz,jazz,Utah,

--------------------

In [16]:
df_json_league = json_readed['league']
#df_json_league

In [17]:
for elem in df_json_league:
    print(elem)

standard
africa
sacramento
vegas
utah

In [18]:
for elem in df_json_league:
    with open (elem + '.json', 'w+') as outfile:
        json.dump(df_json_league[elem], outfile, indent=4)
print("Done!")

Done!

In [19]:
with open ("standard.json", 'w+') as outfile:
        json.dump(df_json_league["standard"], outfile, indent=4)

In [20]:
with open ("africa.json", 'w+') as outfile:
        json.dump(df_json_league["africa"], outfile, indent=4)

In [21]:
df = pd.read_json("africa.json") 
df

,isNBAFranchise,isAllStar,city,altCityName,fullName,tricode,teamId,nickname,urlName,confName,divName
0,False,False,Team,Team,Team Africa,AFR,12326,Africa,africa,,
1,False,False,Team,Team,Team World,WLD,12327,World,world,,

In [22]:
final_df = None
for elem in df_json_league:
    df = pd.read_json(elem + '.json') 
    if final_df == None:  # First time
        final_df = df
    else:
        final_df.append(df)

final_df

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [23]:
final_dfs = []
for elem in df_json_league:
    df = pd.read_json(elem + '.json') 
    final_dfs.append(df)

pd.concat(final_dfs, axis=0)

,isNBAFranchise,isAllStar,city,altCityName,fullName,tricode,teamId,nickname,urlName,confName,divName
0,False,True,USA,USA,USA,USA,1610616843,USA,usa,East,East
1,False,True,World,World,World,WLD,1610616844,World,world,East,East
2,False,True,Team,Team,All-Stars,EST,1699999999,All-Stars,assn_away,East,East
3,False,True,Team,Team,All-Stars,WST,1699999998,All-Stars,assn_home,West,West
4,False,True,Team Giannis,Team Giannis,Team Giannis,GNS,1610616833,Team Giannis,team_giannis,East,East
...,...,...,...,...,...,...,...,...,...,...,...
29,True,False,Washington,Washington,Washington Wizards,WAS,1610612764,Wizards,wizards,summer,
0,True,False,Atlanta,Atlanta,Atlanta Hawks,ATL,1610612737,Hawks,hawks,Utah,
1,True,False,Memphis,Memphis,Memphis Grizzlies,MEM,1610612763,Grizzlies,grizzlies,Utah,
2,True,False,San Antonio,San Antonio,San Antonio Spurs,SAS,1610612759,Spurs,spurs,Utah,
3,True,False,Utah,Utah,Utah Jazz,UTA,1610612762,Jazz,jazz,Utah,