# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [21]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [22]:
address="https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

### Step 3. Assign it to a variable called chipo.

In [23]:

chipo=pd.read_csv(address,sep= "\t")
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 4. What is the name of the max valued product?

In [24]:
chipo.item_price = chipo.item_price.str[1:].astype(float) #dice que de la columna item_proce coja de la cadena al ser str de la posicion 1 al 
chipo                                 #final de esta manera deja fuera el dolar y luego le dice que lo coja como float

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

In [25]:
chipo["unity_price"] = chipo.item_price / chipo.quantity  #divido el precio de cada plato por la cantiad de platos vendida
chipo

,order_id,quantity,item_name,choice_description,item_price,unity_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,8.49
...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75,8.75

In [26]:
s = chipo[chipo.item_price == max(chipo.item_price)]  #le digo que saque el valor mÃ¡ximo de chipo en item_price
s

,order_id,quantity,item_name,choice_description,item_price,unity_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25,2.95

In [27]:
max(chipo.item_price)

44.25

In [28]:
chipo_grouped = chipo.groupby("item_name").max() #calcula los valores mÃ¡ximo de chipo agrupada por item_name, con esos ingredientes los val max
print(max(chipo_grouped ["unity_price"])) #Indico que saque el mÃ¡ximo de chipo agrupado en la columna unity_price

11.89

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [29]:
# delete the duplicates in item_name and quantity


# select only the products with quantity equals to 1


# select only the item_name and item_price columns


# sort the values from the most to less expensive

In [30]:
chipo_dropped = chipo.copy()  #En una variable chipo_dropped meto una copia de chipo
chipo_dropped = chipo_dropped.drop_duplicates(["item_name", "quantity"]) #Borro los valores duplicados en esas columnas item_name y quantity
chipo_dropped

,order_id,quantity,item_name,choice_description,item_price,unity_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,8.49
...,...,...,...,...,...,...
3890,1559,2,Carnitas Crispy Tacos,"[Fresh Tomato Salsa (Mild), [Cheese, Lettuce]]",17.98,8.99
3973,1592,4,Canned Soft Drink,[Coke],5.00,1.25
4152,1660,10,Bottled Water,NaN,15.00,1.50
4354,1738,2,Steak Soft Tacos,"[Fresh Tomato Salsa, [Cheese, Lettuce]]",18.50,9.25
4489,1786,4,Chips and Guacamole,NaN,17.80,4.45

In [31]:
chipo_dropped = chipo_dropped[chipo_dropped.quantity == 1]  #dame los valores donde chipo_dropped en posiciÃ³n quantity =1
                                               #me da todos los valores quantity=1

In [32]:
chipo_dropped=chipo_dropped.loc[:, ["item_name", "item_price"]] #selecciono dos columnas por su posiciÃ³n con :, digo que saque todas las filas
                                                 # y que saque las columnas de esas posiciones.

In [33]:
f=chipo_dropped.groupby(["item_name"]).sum  #En una variable agrupo la lista por item_name y saco todos sus valores
f=chipo_dropped.sort_values(["item_price"], ascending=False) # con sort_values ordeno de mayor a menor
f

                                  item_name  item_price
606                        Steak Salad Bowl       11.89
1229                    Barbacoa Salad Bowl       11.89
1132                    Carnitas Salad Bowl       11.89
7                             Steak Burrito       11.75
168                   Barbacoa Crispy Tacos       11.75
39                            Barbacoa Bowl       11.75
738                       Veggie Soft Tacos       11.25
186                       Veggie Salad Bowl       11.25
62                              Veggie Bowl       11.25
57                           Veggie Burrito       11.25
250                           Chicken Salad       10.98
5                              Chicken Bowl       10.98
8                          Steak Soft Tacos        9.25
554                   Carnitas Crispy Tacos        9.25
237                     Carnitas Soft Tacos        9.25
56                      Barbacoa Soft Tacos        9.25
92                       Steak Crispy Tacos        9.25
664                             Steak Salad        8.99
54                               Steak Bowl        8.99
3750                         Carnitas Salad        8.99
21                         Barbacoa Burrito        8.99
27                         Carnitas Burrito        8.99
33                            Carnitas Bowl        8.99
11                     Chicken Crispy Tacos        8.75
12                       Chicken Soft Tacos        8.75
44                       Chicken Salad Bowl        8.75
1653                    Veggie Crispy Tacos        8.49
16                          Chicken Burrito        8.49
1694                           Veggie Salad        8.49
1414                                  Salad        7.40
510                                 Burrito        7.40
520                            Crispy Tacos        7.40
673                                    Bowl        7.40
298                       6 Pack Soft Drink        6.49
10                      Chips and Guacamole        4.45
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
674       Chips and Mild Fresh Tomato Salsa        3.00
111     Chips and Tomatillo Red Chili Salsa        2.95
233      Chips and Roasted Chili Corn Salsa        2.95
38    Chips and Tomatillo Green Chili Salsa        2.95
3     Chips and Tomatillo-Green Chili Salsa        2.39
300     Chips and Tomatillo-Red Chili Salsa        2.39
191      Chips and Roasted Chili-Corn Salsa        2.39
0              Chips and Fresh Tomato Salsa        2.39
40                                    Chips        2.15
6                             Side of Chips        1.69
263                       Canned Soft Drink        1.25
28                              Canned Soda        1.09
34                            Bottled Water        1.09

### Step 6. Sort by the name of the item

In [34]:

g=chipo_dropped.sort_values(["item_name"], ascending=True) #ordeno la tabla por la columna Irem_name de menor a mayor
g

                                  item_name  item_price
298                       6 Pack Soft Drink        6.49
39                            Barbacoa Bowl       11.75
21                         Barbacoa Burrito        8.99
168                   Barbacoa Crispy Tacos       11.75
1229                    Barbacoa Salad Bowl       11.89
56                      Barbacoa Soft Tacos        9.25
34                            Bottled Water        1.09
673                                    Bowl        7.40
510                                 Burrito        7.40
28                              Canned Soda        1.09
263                       Canned Soft Drink        1.25
33                            Carnitas Bowl        8.99
27                         Carnitas Burrito        8.99
554                   Carnitas Crispy Tacos        9.25
3750                         Carnitas Salad        8.99
1132                    Carnitas Salad Bowl       11.89
237                     Carnitas Soft Tacos        9.25
5                              Chicken Bowl       10.98
16                          Chicken Burrito        8.49
11                     Chicken Crispy Tacos        8.75
250                           Chicken Salad       10.98
44                       Chicken Salad Bowl        8.75
12                       Chicken Soft Tacos        8.75
40                                    Chips        2.15
0              Chips and Fresh Tomato Salsa        2.39
10                      Chips and Guacamole        4.45
674       Chips and Mild Fresh Tomato Salsa        3.00
233      Chips and Roasted Chili Corn Salsa        2.95
191      Chips and Roasted Chili-Corn Salsa        2.39
38    Chips and Tomatillo Green Chili Salsa        2.95
111     Chips and Tomatillo Red Chili Salsa        2.95
3     Chips and Tomatillo-Green Chili Salsa        2.39
300     Chips and Tomatillo-Red Chili Salsa        2.39
520                            Crispy Tacos        7.40
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
1414                                  Salad        7.40
6                             Side of Chips        1.69
54                               Steak Bowl        8.99
7                             Steak Burrito       11.75
92                       Steak Crispy Tacos        9.25
664                             Steak Salad        8.99
606                        Steak Salad Bowl       11.89
8                          Steak Soft Tacos        9.25
62                              Veggie Bowl       11.25
57                           Veggie Burrito       11.25
1653                    Veggie Crispy Tacos        8.49
1694                           Veggie Salad        8.49
186                       Veggie Salad Bowl       11.25
738                       Veggie Soft Tacos       11.25

### Step 7. What was the quantity of the most expensive item ordered?

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

In [35]:
s = chipo[chipo.item_price == max(chipo.item_price)]
s

,order_id,quantity,item_name,choice_description,item_price,unity_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25,2.95

In [36]:
s["quantity"]

3598    15
Name: quantity, dtype: int64

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [37]:
x=chipo.groupby(["item_name"]).sum()["quantity"]
x

item_name
6 Pack Soft Drink                         55
Barbacoa Bowl                             66
Barbacoa Burrito                          91
Barbacoa Crispy Tacos                     12
Barbacoa Salad Bowl                       10
Barbacoa Soft Tacos                       25
Bottled Water                            211
Bowl                                       4
Burrito                                    6
Canned Soda                              126
Canned Soft Drink                        351
Carnitas Bowl                             71
Carnitas Burrito                          60
Carnitas Crispy Tacos                      8
Carnitas Salad                             1
Carnitas Salad Bowl                        6
Carnitas Soft Tacos                       40
Chicken Bowl                             761
Chicken Burrito                          591
Chicken Crispy Tacos                      50
Chicken Salad                              9
Chicken Salad Bowl                       123
Chicken Soft Tacos                       120
Chips                                    230
Chips and Fresh Tomato Salsa             130
Chips and Guacamole                      506
Chips and Mild Fresh Tomato Salsa          1
Chips and Roasted Chili Corn Salsa        23
Chips and Roasted Chili-Corn Salsa        18
Chips and Tomatillo Green Chili Salsa     45
Chips and Tomatillo Red Chili Salsa       50
Chips and Tomatillo-Green Chili Salsa     33
Chips and Tomatillo-Red Chili Salsa       25
Crispy Tacos                               2
Izze                                      20
Nantucket Nectar                          29
Salad                                      2
Side of Chips                            110
Steak Bowl                               221
Steak Burrito                            386
Steak Crispy Tacos                        36
Steak Salad                                4
Steak Salad Bowl                          31
Steak Soft Tacos                          56
Veggie Bowl                               87
Veggie Burrito                            97
Veggie Crispy Tacos                        1
Veggie Salad                               6
Veggie Salad Bowl                         18
Veggie Soft Tacos                          8
Name: quantity, dtype: int64

In [38]:
x["Veggie Salad Bowl"]

18

### Step 9. How many times did someone order more than one Canned Soda?

In [39]:
d=chipo.groupby(["item_name"]).sum()["quantity"]
d

item_name
6 Pack Soft Drink                         55
Barbacoa Bowl                             66
Barbacoa Burrito                          91
Barbacoa Crispy Tacos                     12
Barbacoa Salad Bowl                       10
Barbacoa Soft Tacos                       25
Bottled Water                            211
Bowl                                       4
Burrito                                    6
Canned Soda                              126
Canned Soft Drink                        351
Carnitas Bowl                             71
Carnitas Burrito                          60
Carnitas Crispy Tacos                      8
Carnitas Salad                             1
Carnitas Salad Bowl                        6
Carnitas Soft Tacos                       40
Chicken Bowl                             761
Chicken Burrito                          591
Chicken Crispy Tacos                      50
Chicken Salad                              9
Chicken Salad Bowl                       123
Chicken Soft Tacos                       120
Chips                                    230
Chips and Fresh Tomato Salsa             130
Chips and Guacamole                      506
Chips and Mild Fresh Tomato Salsa          1
Chips and Roasted Chili Corn Salsa        23
Chips and Roasted Chili-Corn Salsa        18
Chips and Tomatillo Green Chili Salsa     45
Chips and Tomatillo Red Chili Salsa       50
Chips and Tomatillo-Green Chili Salsa     33
Chips and Tomatillo-Red Chili Salsa       25
Crispy Tacos                               2
Izze                                      20
Nantucket Nectar                          29
Salad                                      2
Side of Chips                            110
Steak Bowl                               221
Steak Burrito                            386
Steak Crispy Tacos                        36
Steak Salad                                4
Steak Salad Bowl                          31
Steak Soft Tacos                          56
Veggie Bowl                               87
Veggie Burrito                            97
Veggie Crispy Tacos                        1
Veggie Salad                               6
Veggie Salad Bowl                         18
Veggie Soft Tacos                          8
Name: quantity, dtype: int64

In [40]:
d=d ["Canned Soda"]  #accedo a una posiciÃ³n de una serie llamando por el nombre del dato al que quiero acceder
print("Canned Soda " + str(d))

Canned Soda 126