# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

### Step 4. What is the name of the max valued product?

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [1]:
# delete the duplicates in item_name and quantity


# select only the products with quantity equals to 1


# select only the item_name and item_price columns


# sort the values from the most to less expensive

### Step 6. Sort by the name of the item

In [2]:


# OR

### Step 7. What was the quantity of the most expensive item ordered?

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

### Step 8. How many times was a Veggie Salad Bowl ordered?

18

### Step 9. How many times did someone order more than one Canned Soda?

20