### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [23]:
import pandas as pd
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a to a variable called cars1 and cars2

In [24]:
cars1 = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv")
cars2 = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv")

print(cars1.head())
print(cars2.head())

mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0  18.0          8           307        130    3504          12.0     70
1  15.0          8           350        165    3693          11.5     70
2  18.0          8           318        150    3436          11.0     70
3  16.0          8           304        150    3433          12.0     70
4  17.0          8           302        140    3449          10.5     70

   origin                        car  Unnamed: 9  Unnamed: 10  Unnamed: 11  \
0       1  chevrolet chevelle malibu         NaN          NaN          NaN
1       1          buick skylark 320         NaN          NaN          NaN
2       1         plymouth satellite         NaN          NaN          NaN
3       1              amc rebel sst         NaN          NaN          NaN
4       1                ford torino         NaN          NaN          NaN

   Unnamed: 12  Unnamed: 13
0          NaN          NaN
1          NaN          NaN
2          NaN          NaN
3          NaN          NaN
4          NaN          NaN
    mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0  33.0          4            91         53    1795          17.4     76
1  20.0          6           225        100    3651          17.7     76
2  18.0          6           250         78    3574          21.0     76
3  18.5          6           250        110    3645          16.2     76
4  17.5          6           258         95    3193          17.8     76

   origin                 car
0       3         honda civic
1       1      dodge aspen se
2       1   ford granada ghia
3       1  pontiac ventura sj
4       1       amc pacer d/l

In [25]:
cars1

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,NaN,NaN,NaN,NaN,NaN
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,NaN,NaN,NaN,NaN,NaN
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,NaN,NaN,NaN,NaN,NaN
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,NaN,NaN,NaN,NaN,NaN
4,17.0,8,302,140,3449,10.5,70,1,ford torino,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,24.0,6,200,81,3012,17.6,76,1,ford maverick,NaN,NaN,NaN,NaN,NaN
194,22.5,6,232,90,3085,17.6,76,1,amc hornet,NaN,NaN,NaN,NaN,NaN
195,29.0,4,85,52,2035,22.2,76,1,chevrolet chevette,NaN,NaN,NaN,NaN,NaN
196,24.5,4,98,60,2164,22.1,76,1,chevrolet woody,NaN,NaN,NaN,NaN,NaN
197,29.0,4,90,70,1937,14.2,76,2,vw rabbit,NaN,NaN,NaN,NaN,NaN

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [26]:
cars_copy = cars1.copy()

In [27]:
cars_copy.isnull().all() #Todas las columnas 'True' son Null,

mpg             False
cylinders       False
displacement    False
horsepower      False
weight          False
acceleration    False
model           False
origin          False
car             False
Unnamed: 9       True
Unnamed: 10      True
Unnamed: 11      True
Unnamed: 12      True
Unnamed: 13      True
dtype: bool

In [28]:
deleted_columns = cars_copy.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13'], axis=1)
deleted_columns

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
193,24.0,6,200,81,3012,17.6,76,1,ford maverick
194,22.5,6,232,90,3085,17.6,76,1,amc hornet
195,29.0,4,85,52,2035,22.2,76,1,chevrolet chevette
196,24.5,4,98,60,2164,22.1,76,1,chevrolet woody
197,29.0,4,90,70,1937,14.2,76,2,vw rabbit

In [29]:
cars_copy

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,NaN,NaN,NaN,NaN,NaN
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,NaN,NaN,NaN,NaN,NaN
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,NaN,NaN,NaN,NaN,NaN
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,NaN,NaN,NaN,NaN,NaN
4,17.0,8,302,140,3449,10.5,70,1,ford torino,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,24.0,6,200,81,3012,17.6,76,1,ford maverick,NaN,NaN,NaN,NaN,NaN
194,22.5,6,232,90,3085,17.6,76,1,amc hornet,NaN,NaN,NaN,NaN,NaN
195,29.0,4,85,52,2035,22.2,76,1,chevrolet chevette,NaN,NaN,NaN,NaN,NaN
196,24.5,4,98,60,2164,22.1,76,1,chevrolet woody,NaN,NaN,NaN,NaN,NaN
197,29.0,4,90,70,1937,14.2,76,2,vw rabbit,NaN,NaN,NaN,NaN,NaN

In [30]:
cars1.drop(cars1.columns[cars1.columns.str.contains('Unnamed', case=False)], axis=1, inplace=True)
cars1

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
193,24.0,6,200,81,3012,17.6,76,1,ford maverick
194,22.5,6,232,90,3085,17.6,76,1,amc hornet
195,29.0,4,85,52,2035,22.2,76,1,chevrolet chevette
196,24.5,4,98,60,2164,22.1,76,1,chevrolet woody
197,29.0,4,90,70,1937,14.2,76,2,vw rabbit

In [31]:
cars1 = cars1.loc[:, "mpg":"car"]
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

In [32]:
cars_copy = cars_copy.dropna(axis="columns", how="all")
cars_copy

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
193,24.0,6,200,81,3012,17.6,76,1,ford maverick
194,22.5,6,232,90,3085,17.6,76,1,amc hornet
195,29.0,4,85,52,2035,22.2,76,1,chevrolet chevette
196,24.5,4,98,60,2164,22.1,76,1,chevrolet woody
197,29.0,4,90,70,1937,14.2,76,2,vw rabbit

### Step 5. What is the number of observations in each dataset?

In [33]:
print(cars1.shape)
print(cars2.shape)

(198, 9)
(200, 9)

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [34]:
concated = pd.concat([cars1, cars2], axis=0)
concated

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl
196,44.0,4,97,52,2130,24.6,82,2,vw pickup
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage
198,28.0,4,120,79,2625,18.6,82,1,ford ranger
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10

In [35]:
merged = pd.merge(cars1, cars2, how="outer")
merged

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97,52,2130,24.6,82,2,vw pickup
395,32.0,4,135,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120,79,2625,18.6,82,1,ford ranger
397,31.0,4,119,82,2720,19.4,82,1,chevy s-10

In [36]:
cars = cars1.append(cars2)
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl
196,44.0,4,97,52,2130,24.6,82,2,vw pickup
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage
198,28.0,4,120,79,2625,18.6,82,1,ford ranger
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10

In [37]:
.shape

SyntaxError: invalid syntax (<ipython-input-37-abefa8d9bb1a>, line 1)

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [38]:
s = np.random.randint(15000, 73001, size=len(cars))
s.shape

(398,)

In [39]:
x = np.array([np.random.randint(15000, 73001, size=len(cars))])
x.shape

(1, 398)

In [40]:
cars["owners"] = np.random.randint(15000, 73001, size=len(cars))
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,56576
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,27977
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,15319
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,64651
4,17.0,8,302,140,3449,10.5,70,1,ford torino,58993
...,...,...,...,...,...,...,...,...,...,...
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,33330
196,44.0,4,97,52,2130,24.6,82,2,vw pickup,54740
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage,53375
198,28.0,4,120,79,2625,18.6,82,1,ford ranger,46263
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10,38790

In [41]:
cars["owners"] = pd.Series(np.random.randint(15000, 73000, size=len(cars)))
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,19147
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,46084
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,35284
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,31439
4,17.0,8,302,140,3449,10.5,70,1,ford torino,20566
...,...,...,...,...,...,...,...,...,...,...
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,72002
196,44.0,4,97,52,2130,24.6,82,2,vw pickup,44038
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage,25369
198,28.0,4,120,79,2625,18.6,82,1,ford ranger,26627
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10,59604

In [42]:
owners = pd.Series(np.random.randint(15000, 73000, size=len(cars1)))
owners

0      63913
1      52552
2      64312
3      16615
4      36854
       ...
193    70609
194    35170
195    48260
196    49829
197    37944
Length: 198, dtype: int32

In [43]:
nr_owners = np.random.randint(15000, high=73001, size=398)
nr_owners

array([38507, 21801, 39267, 22822, 36043, 44771, 70861, 66828, 59930,
       44322, 63017, 23569, 33961, 39886, 30865, 16491, 34945, 17901,
       69699, 69909, 32388, 50771, 26618, 38114, 49597, 65555, 21858,
       43969, 55225, 49088, 37129, 53684, 24885, 67810, 63484, 31137,
       69554, 62951, 64686, 67549, 70378, 18047, 67171, 22212, 43977,
       39389, 53954, 37793, 37529, 66813, 68295, 48048, 39164, 32118,
       18414, 67231, 61996, 22473, 45778, 49896, 25497, 55932, 21916,
       25784, 56192, 63487, 56497, 64336, 59330, 67864, 49020, 58794,
       20818, 37732, 59241, 15854, 50123, 21042, 24084, 57871, 61777,
       35241, 60951, 49753, 18808, 58280, 70807, 50913, 31600, 62528,
       54323, 19510, 15034, 47903, 72729, 49729, 61505, 15121, 24775,
       22562, 27648, 28078, 37950, 56798, 62330, 34218, 67939, 17192,
       49476, 28515, 64636, 47064, 55784, 72691, 22749, 16329, 54834,
       51894, 27019, 51509, 43240, 16718, 23156, 42469, 58320, 22787,
       69542, 31495, 50175, 72316, 45987, 52863, 55378, 56772, 44482,
       16928, 60113, 23648, 43506, 58219, 33213, 45082, 38374, 18326,
       58656, 41026, 30045, 57016, 26994, 42198, 35251, 57199, 61847,
       23661, 54330, 48003, 56325, 20267, 39597, 15654, 59863, 47736,
       65357, 72511, 60464, 30759, 70856, 50115, 20661, 51507, 24676,
       18230, 52193, 68509, 27844, 20470, 46093, 50806, 49865, 57494,
       20074, 45738, 31953, 16055, 42224, 25690, 70750, 55124, 59044,
       50145, 31761, 44984, 29758, 33306, 25246, 16700, 68934, 20018,
       53812, 63254, 29091, 58964, 44155, 50998, 49415, 64905, 24782,
       24668, 69807, 25061, 58363, 57147, 53512, 43813, 59226, 36718,
       38759, 47343, 26862, 70417, 58019, 28946, 70672, 20522, 69710,
       35368, 17622, 67449, 70020, 29838, 34586, 28051, 41754, 51310,
       64615, 57232, 19638, 53778, 20946, 21634, 51737, 46468, 59904,
       29116, 70673, 17448, 61639, 20143, 25721, 49925, 32030, 63428,
       66969, 36243, 40184, 31162, 49595, 55067, 20987, 67243, 17812,
       59649, 61412, 42990, 37469, 38563, 27355, 15849, 53362, 25224,
       36428, 35868, 16777, 42987, 21117, 35538, 55800, 63465, 30890,
       24033, 28732, 46212, 19577, 71542, 58812, 62507, 61400, 36046,
       26612, 30473, 61135, 22192, 21480, 25076, 18818, 36353, 47246,
       24275, 64934, 45583, 59440, 31987, 42369, 51339, 22694, 48029,
       56954, 66421, 51305, 69905, 41963, 49065, 21609, 34259, 25559,
       38360, 30456, 46389, 44995, 63177, 64352, 24213, 72841, 67671,
       41327, 64533, 55426, 49399, 21613, 68330, 19344, 34017, 34200,
       33223, 37301, 26054, 30857, 21127, 57958, 48348, 16424, 27840,
       72394, 46478, 44931, 46253, 60699, 49615, 54473, 55235, 31163,
       19720, 41707, 67953, 62297, 35895, 34441, 22389, 49543, 37738,
       45942, 21567, 56616, 43926, 64123, 64534, 59791, 68724, 28627,
       61304, 60244, 44001, 20511, 20818, 42282, 37868, 65453, 55525,
       38321, 71528, 21169, 71892, 21514, 29024, 62808, 57211, 52700,
       52793, 43272, 71881, 24395, 50365, 51258, 51815, 71417, 35475,
       61381, 69941])

### Step 8. Add the column owners to cars

In [44]:
cars["owners"] = np.random.randint(15000, 73001, size=len(cars))
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,72341
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,45015
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,55428
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,54107
4,17.0,8,302,140,3449,10.5,70,1,ford torino,58533
...,...,...,...,...,...,...,...,...,...,...
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,41625
196,44.0,4,97,52,2130,24.6,82,2,vw pickup,44286
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage,33981
198,28.0,4,120,79,2625,18.6,82,1,ford ranger,40270
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10,15452