# Ex2 - Getting and Knowing your Data



### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [2]:
address ="https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

### Step 3. Assign it to a variable called chipo.

In [44]:
url= address
chipo = pd.read_csv(url,sep="\t")  #tranforma en formato dataframe y el argumento sep= es para que sepa
chipo                               #diferenciar unas columnas de otras.

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 4. See the first 10 entries

In [4]:
chipo.loc[0:9]  #loc toma el valor explicito del indice

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [5]:
len(chipo.index)

4622

In [45]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 126.4+ KB

In [46]:
chipo.shape  #Me da las filas y columnas

(4622, 5)

In [6]:
# Solution 2

### Step 6. What is the number of columns in the dataset?

In [7]:

chipo.columns
len(chipo.columns)

5

In [47]:
chipo.shape[1] #Con me da shape las filas y las colum. en una tupla (4622, 5), accedo a su pos 1

5

### Step 7. Print the name of all the columns.

Index([u'order_id', u'quantity', u'item_name', u'choice_description',
       u'item_price'],
      dtype='object')

In [8]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [9]:
print(chipo.index)

RangeIndex(start=0, stop=4622, step=1)

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

              order_id  quantity
item_name
Chicken Bowl    713926       761

In [10]:
chipo.mode() #Me da el mas repetido de dataframe

   order_id  quantity     item_name choice_description item_price
0       926         1  Chicken Bowl        [Diet Coke]     $8.75

In [11]:
chipo.groupby(["item_name"]).sum().max() 
#selecciono por colum iter_name con groupby funciona agrupando sin repetir los elementos. Luego le pido que me de la suma de los valores de toda la tabla de cada item (puesto que tienen varios cada uno) y luego le digo que me busque el valor máximo de todos.

order_id    713926
quantity       761
dtype: int64

In [54]:
c=chipo.groupby(["item_name"]) 
c=c.sum()
c["quantity"]

#selecciono por colum iter_name con groupby funciona agrupando sin repetir los elementos. Luego le pido que me de la suma de los valores de una columna determinada de la tabla (creo una variable y luego llamo a esa variable) de cada item (puesto que tienen varios cada uno).

761

In [66]:
c=chipo.groupby(["item_name"]).sum()["quantity"] 
c
#otra manera de hacer el ejercio.

item_name
6 Pack Soft Drink                         55
Barbacoa Bowl                             66
Barbacoa Burrito                          91
Barbacoa Crispy Tacos                     12
Barbacoa Salad Bowl                       10
Barbacoa Soft Tacos                       25
Bottled Water                            211
Bowl                                       4
Burrito                                    6
Canned Soda                              126
Canned Soft Drink                        351
Carnitas Bowl                             71
Carnitas Burrito                          60
Carnitas Crispy Tacos                      8
Carnitas Salad                             1
Carnitas Salad Bowl                        6
Carnitas Soft Tacos                       40
Chicken Bowl                             761
Chicken Burrito                          591
Chicken Crispy Tacos                      50
Chicken Salad                              9
Chicken Salad Bowl                       123
Chicken Soft Tacos                       120
Chips                                    230
Chips and Fresh Tomato Salsa             130
Chips and Guacamole                      506
Chips and Mild Fresh Tomato Salsa          1
Chips and Roasted Chili Corn Salsa        23
Chips and Roasted Chili-Corn Salsa        18
Chips and Tomatillo Green Chili Salsa     45
Chips and Tomatillo Red Chili Salsa       50
Chips and Tomatillo-Green Chili Salsa     33
Chips and Tomatillo-Red Chili Salsa       25
Crispy Tacos                               2
Izze                                      20
Nantucket Nectar                          29
Salad                                      2
Side of Chips                            110
Steak Bowl                               221
Steak Burrito                            386
Steak Crispy Tacos                        36
Steak Salad                                4
Steak Salad Bowl                          31
Steak Soft Tacos                          56
Veggie Bowl                               87
Veggie Burrito                            97
Veggie Crispy Tacos                        1
Veggie Salad                               6
Veggie Salad Bowl                         18
Veggie Soft Tacos                          8
Name: quantity, dtype: int64

In [91]:
c=c.sort_values(["quantity"], ascending=False)
c  # Le pido que lo ordene con sort, por defecto me lo da ascendente=true

NameError: name 's' is not defined

In [85]:
K= c(c["quantity"]==761)
k
#Enmascaramiento: Devuelve todas las filas en las que la condición sea TRUE. Dentro des las máscaras los operadores lógicos ya no se escribem como en python. && || ->

KeyError: 'quantity'

### Step 10. For the most-ordered item, how many items were ordered?

In [67]:
chipo.groupby(["item_name"]).sum().max()

order_id    713926
quantity       761
dtype: int64

In [68]:
chipo.groupby(["item_name"]).sum().max()

order_id    713926
quantity       761
dtype: int64

In [ ]:
chipo.groupby

### Step 11. What was the most ordered item in the choice_description column?

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

In [14]:
chipo.groupby(["choice_description"]).sum().max()

order_id    123455
quantity       159
dtype: int64

In [90]:
c=chipo.groupby(["choice_description"]).sum()
c=c.sort_values(["quantity"], ascending=False)

### Step 12. How many items were orderd in total?

4972

In [15]:
chipo.quantity.sum()

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

dtype('O')

In [16]:
chipo["item_price"].dtype

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [17]:
chipo["item_price"]

0        $2.39
1        $3.39
2        $3.39
3        $2.39
4       $16.98
         ...
4617    $11.75
4618    $11.75
4619    $11.25
4620     $8.75
4621     $8.75
Name: item_price, Length: 4622, dtype: object

In [18]:
#def quitar(palabra):
#   return palabra[1:]
#chipo aplica una funcion lambda que le dice que palabra tome el valor [1:] y le aplique float. en un elemento solo
#apply es funcion de pandas que hace que lo que la funcion hace para un elem, el lo hace en todos los elementos.

chipo["item_price"]=chipo["item_price"].apply(lambda palabra:float(palabra[1:]))

#### Step 13.c. Check the item price type

In [19]:
chipo["item_price"]

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

Revenue was: $39237.02

In [20]:
facturacion_platos = chipo["item_price"] * chipo["quantity"]
print(facturacion_platos) #Multiplico cada plato por el numero de veces que se ha pedido

0        2.39
1        3.39
2        3.39
3        2.39
4       33.96
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Length: 4622, dtype: float64

In [21]:
fact_platos=facturacion_platos.sum()
print(fact_platos) #sumo los resultados del apartado anterior.

39237.02

### Step 15. How many orders were made in the period?

1834

In [22]:
id_orders=chipo["order_id"].value_counts()
print(id_orders)

926     23
1483    14
205     12
691     11
1786    11
        ..
105      1
702      1
718      1
568      1
800      1
Name: order_id, Length: 1834, dtype: int64

In [23]:
number_of_orders=chipo["order_id"].max()
print(number_of_orders)

1834

### Step 16. What is the average revenue amount per order?

In [24]:
# Solution 1

In [25]:
media=fact_platos/number_of_orders
print(media)

21.39423118865867

### Step 17. How many different items are sold?

50

In [35]:
platos=chipo["item_name"].unique().tolist()
platos

['Chips and Fresh Tomato Salsa',
 'Izze',
 'Nantucket Nectar',
 'Chips and Tomatillo-Green Chili Salsa',
 'Chicken Bowl',
 'Side of Chips',
 'Steak Burrito',
 'Steak Soft Tacos',
 'Chips and Guacamole',
 'Chicken Crispy Tacos',
 'Chicken Soft Tacos',
 'Chicken Burrito',
 'Canned Soda',
 'Barbacoa Burrito',
 'Carnitas Burrito',
 'Carnitas Bowl',
 'Bottled Water',
 'Chips and Tomatillo Green Chili Salsa',
 'Barbacoa Bowl',
 'Chips',
 'Chicken Salad Bowl',
 'Steak Bowl',
 'Barbacoa Soft Tacos',
 'Veggie Burrito',
 'Veggie Bowl',
 'Steak Crispy Tacos',
 'Chips and Tomatillo Red Chili Salsa',
 'Barbacoa Crispy Tacos',
 'Veggie Salad Bowl',
 'Chips and Roasted Chili-Corn Salsa',
 'Chips and Roasted Chili Corn Salsa',
 'Carnitas Soft Tacos',
 'Chicken Salad',
 'Canned Soft Drink',
 'Steak Salad Bowl',
 '6 Pack Soft Drink',
 'Chips and Tomatillo-Red Chili Salsa',
 'Bowl',
 'Burrito',
 'Crispy Tacos',
 'Carnitas Crispy Tacos',
 'Steak Salad',
 'Chips and Mild Fresh Tomato Salsa',
 'Veggie Soft Tacos',
 'Carnitas Salad Bowl',
 'Barbacoa Salad Bowl',
 'Salad',
 'Veggie Crispy Tacos',
 'Veggie Salad',
 'Carnitas Salad']

In [32]:
print(len(platos))

50

In [42]:
platos=chipo.groupby(["item_name"])
platos

In [43]:
print(len(platos))

50