To check that your coronavirus exercise was right, try to use the last '.csv' file from the next url. 

https://covid.ourworldindata.org/data/ecdc/full_data.csv

When you execute all your code, it must run without problems updating the graphs and outputs with the last available information.

### Tasks: 

- Create a new dataframe with all the locations except the median. Call it "no_median_df". All must be different locations. 

#### Try to create a new function that return the answer of the next tasks and questions. One function per task: 

- Which countries have less cases than the percentile country 75%?
- Imagine that the median location is the 175th row. Create a dataframe with all the locations from the 165 to 185. Call it "median_df". 
- With "median_df", create with bars, with lines, with points and with pie charts the top 10 in reverse. Both in seaborn and matplotlib. 
- Create a new dataframe with the concatenation of the "median_df" and "no_median_df". After that, create a function that receives a dataframe as param and return the number of non NaN values per each column and per each file. 
- Show, in a graph, which location appears more times in the dataset. 
- Which is the country with less frequency?
- There is any unusual value? Why?
- Delete all NaN value and repeat the same tasks using the functions created.
- Do you find differences? Why?
- What conclusion can we draw?

In [326]:
import pandas as pd

In [327]:
address="https://covid.ourworldindata.org/data/ecdc/full_data.csv"

In [328]:
df=pd.read_csv(address)
df

,date,location,new_cases,new_deaths,total_cases,total_deaths,weekly_cases,weekly_deaths,biweekly_cases,biweekly_deaths
0,2019-12-31,Afghanistan,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
1,2020-01-01,Afghanistan,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,2020-01-02,Afghanistan,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
3,2020-01-03,Afghanistan,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
4,2020-01-04,Afghanistan,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
33383,2020-07-25,Zimbabwe,172.0,4.0,2296.0,32.0,876.0,8.0,1354.0,19.0
33384,2020-07-26,Zimbabwe,138.0,2.0,2434.0,34.0,956.0,9.0,1452.0,16.0
33385,2020-07-27,Zimbabwe,78.0,0.0,2512.0,34.0,901.0,9.0,1527.0,16.0
33386,2020-07-28,Zimbabwe,192.0,2.0,2704.0,36.0,991.0,10.0,1670.0,17.0
33387,2020-07-29,Zimbabwe,113.0,4.0,2817.0,40.0,997.0,14.0,1783.0,21.0

In [329]:
df=df.groupby("location").sum()
df

,new_cases,new_deaths,total_cases,total_deaths,weekly_cases,weekly_deaths,biweekly_cases,biweekly_deaths
location,,,,,,,,
Afghanistan,36471.0,1271.0,1973939.0,50514.0,253138.0,8737.0,500609.0,16814.0
Albania,4997.0,148.0,201671.0,5860.0,32586.0,932.0,60269.0,1687.0
Algeria,27973.0,1163.0,1207139.0,79093.0,186582.0,7998.0,344257.0,15480.0
Andorra,907.0,52.0,95352.0,5473.0,6269.0,364.0,12407.0,728.0
Angola,932.0,40.0,23217.0,1096.0,6051.0,246.0,10717.0,436.0
...,...,...,...,...,...,...,...,...
Western Sahara,766.0,1.0,20254.0,61.0,5326.0,7.0,10646.0,14.0
World,16708920.0,660123.0,841943443.0,43909387.0,111908016.0,4504398.0,211625051.0,8709699.0
Yemen,1695.0,484.0,68828.0,18183.0,11683.0,3300.0,22765.0,6402.0
Zambia,5002.0,142.0,135602.0,2847.0,29371.0,937.0,49222.0,1668.0
Zimbabwe,2817.0,40.0,53639.0,921.0,16909.0,227.0,27357.0,389.0

In [330]:
df2=df["total_cases"]
df2

location
Afghanistan         1973939.0
Albania              201671.0
Algeria             1207139.0
Andorra               95352.0
Angola                23217.0
                     ...
Western Sahara        20254.0
World             841943443.0
Yemen                 68828.0
Zambia               135602.0
Zimbabwe              53639.0
Name: total_cases, Length: 211, dtype: float64

In [339]:
df3=df2.describe(percentiles=[0.75 ])
df3

count    2.110000e+02
mean     7.978658e+06
std      6.039554e+07
min      3.680000e+02
50%      2.016710e+05
75%      1.672414e+06
max      8.419434e+08
Name: total_cases, dtype: float64

In [333]:
df3=df2.iloc[5::]
df3

location
Anguilla                     368.0
Antigua and Barbuda         4585.0
Argentina                4517210.0
Armenia                  1632161.0
Aruba                      12107.0
                          ...
Western Sahara             20254.0
World                  841943443.0
Yemen                      68828.0
Zambia                    135602.0
Zimbabwe                   53639.0
Name: total_cases, Length: 206, dtype: float64