To check that your coronavirus exercise was right, try to use the last '.csv' file from the next url. 

https://covid.ourworldindata.org/data/ecdc/full_data.csv

When you execute all your code, it must run without problems updating the graphs and outputs with the last available information.

### Tasks: 

- Create a new dataframe with all the locations except the median. Call it "no_median_df". All must be different locations. 

#### Try to create a new function that return the answer of the next tasks and questions. One function per task: 

- Which countries have less cases than the percentile country 75%?
- Imagine that the median location is the 175th row. Create a dataframe with all the locations from the 165 to 185. Call it "median_df". 
- With "median_df", create with bars, with lines, with points and with pie charts the top 10 in reverse. Both in seaborn and matplotlib. 
- Create a new dataframe with the concatenation of the "median_df" and "no_median_df". After that, create a function that receives a dataframe as param and return the number of non NaN values per each column and per each file. 
- Show, in a graph, which location appears more times in the dataset. 
- Which is the country with less frequency?
- There is any unusual value? Why?
- Delete all NaN value and repeat the same tasks using the functions created.
- Do you find differences? Why?
- What conclusion can we draw?

In [1]:
import pandas as pd

In [2]:
address="https://covid.ourworldindata.org/data/ecdc/full_data.csv"

In [3]:
df=pd.read_csv(address)
df

,date,location,new_cases,new_deaths,total_cases,total_deaths,weekly_cases,weekly_deaths,biweekly_cases,biweekly_deaths
0,2019-12-31,Afghanistan,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
1,2020-01-01,Afghanistan,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,2020-01-02,Afghanistan,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
3,2020-01-03,Afghanistan,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
4,2020-01-04,Afghanistan,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
35483,2020-08-04,Zimbabwe,154.0,10.0,4075.0,80.0,1371.0,44.0,2362.0,54.0
35484,2020-08-05,Zimbabwe,146.0,1.0,4221.0,81.0,1404.0,41.0,2401.0,55.0
35485,2020-08-06,Zimbabwe,118.0,3.0,4339.0,84.0,1460.0,43.0,2305.0,58.0
35486,2020-08-07,Zimbabwe,56.0,13.0,4395.0,97.0,1303.0,44.0,2271.0,69.0
35487,2020-08-08,Zimbabwe,56.0,5.0,4451.0,102.0,1282.0,35.0,2155.0,70.0

In [4]:
df=df.groupby("location").sum()
df

,new_cases,new_deaths,total_cases,total_deaths,weekly_cases,weekly_deaths,biweekly_cases,biweekly_deaths
location,,,,,,,,
Afghanistan,37015.0,1307.0,2.341506e+06,63391.0,257844.0,9052.0,512826.0,17946.0
Albania,6151.0,189.0,2.575900e+05,7555.0,40256.0,1231.0,74726.0,2246.0
Algeria,34155.0,1282.0,1.525396e+06,91465.0,227727.0,8757.0,427890.0,16991.0
Andorra,955.0,52.0,1.046810e+05,5993.0,6558.0,364.0,12922.0,728.0
Angola,1483.0,64.0,3.528600e+04,1645.0,8799.0,397.0,15633.0,689.0
...,...,...,...,...,...,...,...,...
Western Sahara,766.0,1.0,2.791400e+04,71.0,5326.0,7.0,10646.0,14.0
World,19357085.0,721174.0,1.022961e+09,50848503.0,129941248.0,4912292.0,247299415.0,9540378.0
Yemen,1796.0,512.0,8.628200e+04,23173.0,12283.0,3525.0,24182.0,6910.0
Zambia,7486.0,200.0,1.997760e+05,4545.0,47393.0,1252.0,82386.0,2249.0
Zimbabwe,4451.0,102.0,9.184000e+04,1665.0,29049.0,580.0,48611.0,878.0

In [5]:
df2=df["total_cases"]
df2

location
Afghanistan       2.341506e+06
Albania           2.575900e+05
Algeria           1.525396e+06
Andorra           1.046810e+05
Angola            3.528600e+04
                      ...
Western Sahara    2.791400e+04
World             1.022961e+09
Yemen             8.628200e+04
Zambia            1.997760e+05
Zimbabwe          9.184000e+04
Name: total_cases, Length: 211, dtype: float64

In [6]:
df3=df2.describe(percentiles=[0.75 ])
df3

count    2.110000e+02
mean     9.694272e+06
std      7.339911e+07
min      3.980000e+02
50%      2.393530e+05
75%      2.084840e+06
max      1.022961e+09
Name: total_cases, dtype: float64

In [7]:
df3=df2.iloc[5::]
df3

location
Anguilla               3.980000e+02
Antigua and Barbuda    5.500000e+03
Argentina              6.513723e+06
Armenia                2.053984e+06
Aruba                  1.379600e+04
                           ...
Western Sahara         2.791400e+04
World                  1.022961e+09
Yemen                  8.628200e+04
Zambia                 1.997760e+05
Zimbabwe               9.184000e+04
Name: total_cases, Length: 206, dtype: float64